{% extends 'wowportret/base.html' %}
{% load staticfiles %}
{% block content %}
<div class="p-y-3 p-x-3 section mt">
    <div class="container white ">
        <div class="row">
            <div class="col-md-12">
                <h1 class="" draggable="false">{{ post.title }}</h1> {% if post.published_date %}
                <div class="date">
                    {{ post.published_date }}
                </div>
                {% endif %}
                <p class="" draggable="false">{{ post.text|safe }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
