<div class="container-fluid bg-faded-cstm">
    <div class="container">
        <div class="row">
            <p>&copy; 2016 wowportret.ru
                <p>
        </div>
    </div>
</div>
    <!-- GETSALE CODE START -->
    <script type="text/javascript">
        (function(d, w, c) {
            w[c] = {
                projectId: 283
                };

            var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };

            s.type = "text/javascript";
            s.async = true;
            s.src = "//rt.getsale.io/loader.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }

        })(document, window, "getSaleInit");
    </script>
    <!-- GETSALE CODE END -->
