<div class="container-fluid bg-faded-cstm">
    <div class="container">
        <div class="row">
            <p>&copy; 2016 wowportret.ru
                <p>
        </div>
    </div>
</div>

<!-- Форма заявки обратной связи -->
    <div class="modal fade loginization" id="obratniy_log" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content ramka">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <i class="fa fa-times fa-3x" aria-hidden="true"></i></button>
				<h2>Оставьте заявку</h2>
				<p style="font-size:1.2em;color: #333;">и получите взамен картину,
				<br><strong>сделанную исключительно для Вас.</strong></p>
			</div>
			<div class="modal-body">
				<hr>
				<form class="zauava">
					<input name="project_name" type="hidden" value="WowPortret">
					<input name="admin_email" type="hidden" value="007raspc@gmail.com">
					<input name="form_subject" type="hidden" value="Заявка с формы под картинками">
					<input name="Name" required="" type="text " placeholder="Ваше имя">
					<input name="e-mail" required="" type="email " placeholder="E-mail для отправки эскиза">
					<input name="Phone" type="tel" placeholder="Телефон для уточнения">
					<button class="knopka zakaz">Оставить заявку</button>
				</form>
			</div>
			<div class="modal-footer">
				<hr>
				<p>Мы Ненавидим спам<br>
				И никогда не разгласим Ваши данные</p>
			</div>
		</div>
	</div>
</div>
<!-- Конец Формы заявки обратной связи -->