<div class="list-group">
    <a class="list-group-item {% ifequal request.path '/gallery/50/' %} active {% endifequal%}" href="/gallery/50/"><strong>ДЕТСКИЕ ФОТОКОЛЛАЖИ</strong> </a>
    <a class="list-group-item {% ifequal request.path '/gallery/51/' %} active {% endifequal%}" href="/gallery/51/"><strong>ЖЕНСКИЕ</strong> </a>
    <a class="list-group-item sub-item {% ifequal request.path '/gallery/52/' %} active {% endifequal%}" href="/gallery/52/">PIN UP</a>
    <a class="list-group-item sub-item {% ifequal request.path '/gallery/53/' %} active {% endifequal%}" href="/gallery/53/">ИСТОРИЧЕСКИЕ</a>
    <a class="list-group-item sub-item {% ifequal request.path '/gallery/54/' %} active {% endifequal%}" href="/gallery/54/">СОВРЕМЕННЫЕ</a>
    <a class="list-group-item {% ifequal request.path '/gallery/60/' %} active {% endifequal%}" href="/gallery/60/"><strong>МУЖСКИЕ</strong> </a>
    <a class="list-group-item sub-item {% ifequal request.path '/gallery/61/' %} active {% endifequal%}" href="/gallery/61/">ВОЕННЫЕ</a>
    <a class="list-group-item sub-item {% ifequal request.path '/gallery/62/' %} active {% endifequal%}" href="/gallery/62/">ИСТОРИЧЕСКИЕ</a>
    <a class="list-group-item sub-item {% ifequal request.path '/gallery/63/' %} active {% endifequal%}" href="/gallery/63/">НА ЛОШАДЯХ</a>
    <a class="list-group-item sub-item {% ifequal request.path '/gallery/64/' %} active {% endifequal%}" href="/gallery/64/">СОВРЕМЕННЫЕ</a>
    <a class="list-group-item {% ifequal request.path '/gallery/71/' %} active {% endifequal%}" href="/gallery/71/"><strong>ГРУППОВЫЕ ОБРАЗЫ</strong> </a>
    <a class="list-group-item sub-item {% ifequal request.path '/gallery/78/' %} active {% endifequal%}" href="/gallery/78/">2 ЧЕЛОВЕКА</a>
    <a class="list-group-item sub-item {% ifequal request.path '/gallery/74/' %} active {% endifequal%}" href="/gallery/74/">3 ЧЕЛОВЕКА</a>
    <a class="list-group-item sub-item {% ifequal request.path '/gallery/75/' %} active {% endifequal%}" href="/gallery/75/">4 ЧЕЛОВЕКА</a>
    <a class="list-group-item sub-item {% ifequal request.path '/gallery/76/' %} active {% endifequal%}" href="/gallery/76/">ПАРЫ</a>
    <a class="list-group-item sub-item {% ifequal request.path '/gallery/77/' %} active {% endifequal%}" href="/gallery/77/">СЕМЕЙНЫЕ ОБРАЗЫ</a>
    <a class="list-group-item {% ifequal request.path '/gallery/79/' %} active {% endifequal%}" href="/gallery/79/"><strong>МОДУЛЬНЫЕ КАРТИНЫ</strong> </a>
    <a class="list-group-item {% ifequal request.path '/gallery/80/' %} active {% endifequal%}" href="/gallery/80/"><strong>РЕПРОДУКЦИЯ КАРТИН</strong> </a>
    <!--                     <a class="list-group-item" href="/gallery/65/"><strong>БАГЕТНЫЕ РАМЫ</strong> </a>
                        <a class="list-group-item sub-item" href="/gallery/66/">РАМКИ КАТЕГОРИИ А</a>
                        <a class="list-group-item sub-item" href="/gallery/67/">РАМКИ КАТЕГОРИИ Б</a>
                        <a class="list-group-item sub-item" href="/gallery/68/">РАМКИ КАТЕГОРИИ C</a> -->
</div>
