<!-- <div class="list-group"> -->
<ul class="accordion">
    {% for gal in all_gals %}
    <li>
        {% if gal.children.all %}
            <a class="toggle" href="javascript:void(0);">
                <strong>{{gal.title}}</strong>
            </a>
            <ul class="inner collapse">
                {% for sub_gal in gal.children.all %}
                    {% if sub_gal.children.all %}
                    <li>
                        <a href="#" class="toggle">{{sub_gal.title}}</a>
                    </li>

                    <ul class="inner collapse">
                        {% for sub_sub_gal in sub_gal.children.all %}
                        <li>{{sub_sub_gal.title}}</li>
                        <!--             <a class="list-group-item sub-sub-item {% if request.path == sub_sub_gal.get_url %}
                                    active
                                {% endif %}" href="/gallery/{{sub_sub_gal.id}}">
                                    {{sub_sub_gal.title}}
                            </a> -->
                        {% endfor %}
                        </ul>
                    {% else %}
                        <li>
                        <a class="{% if request.path == sub_gal.get_url %}
                            active
                        {% endif %}" href="/gallery/{{sub_gal.id}}">
                        {{sub_gal.title}}
                        </a>
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% else %}
        <a class="{% if request.path == gal.get_url %}
                    active
                    {% endif %}" href="/gallery/{{gal.id}}"> {{gal.title}} </a>
        {% endif %}
    </li>
    {% endfor %}
</ul>
<!-- </div> -->
