<div class="list-group">
    {% for gal in all_gals %}
    {% with id=gal.id|stringformat:"s/" %}
    <a class="list-group-item
                {% if request.path == '/gallery/'|add:id %}
                    active
                {% endif %}
                {% if gal.parent != None %}
                    sub-item
                {% endif %} "
                 href="/gallery/{{gal.id}}">

                {% if gal.parent == None %}
                    <strong>{{gal.title}}</strong>
                {% else %}
                    {{gal.title}}
                {% endif %}

    </a>
    {% endwith %}
    {% endfor %}
</div>
