<!-- {% load staticfiles %} -->
{% include "wowportret/components/menu.html" %}

    <header>
        <div class="container">
            <div class="row clearfix">

                <!-- логотип  -->
                <div class="logo logo-image">
                    <div class="logo-image">
                        <a href="/" title="WOWPortret.ru">
                            <img class="logo-img" src="../static/img/logo/logo_main.png" alt="WOWPortret24.ru">
                            <span>WOWPortret.ru</span>
                        </a>
                    </div>
                </div>
                <!-- конец логотип  -->
                <!-- верхние преимущества  -->
                <div class="icon_log clearfix hidden-lg-down">
                    <div>
                        <div><span class="fa icon-wallet"></span></div>
                        <div>Оплата заказа<b><br>при получении</b></div>
                    </div>
                    <div>
                        <div><span class="fa icon-star"></span></div>
                        <div><b>7 лет</b>
                            <br>успешной работы</div>
                    </div>
                    <div>
                        <div><span class="fa icon-settings"></span></div>
                        <div>Слаженная работа
                            <br><b>точно в срок</b>!</div>
                    </div>
                    <div>
                        <div><span class="fa icon-mail"></span></div>
                        <div>wowportret24@gmail.com
                            <br><b>прием заказа</b></div>
                    </div>
                </div>
                <!-- конец верхние преимущества  -->
                <!-- обратный звонок  -->
                <div class="telephone">
                    <div>8 (495)<b>908-72-74</b></div>
                    <br>
                    <div>8 (915)<b>463-09-64</b></div>
                    <br> Звонок 24 часа в сутки
                    <br> <a data-toggle="modal" data-target="#obratniy_log">Заказать звонок</a>
                </div>
                <!-- конец обратный звонок  -->
                <div class="clearfix"></div>
            </div>

            <div class="row hidden-sm-down">
                <div class="nav_top clearfix">
                    <a href="/razmeri-i-ceni"><span class="fa icon-user fa-2x"></span><br>Новости</a>
                    <a href="/oplata"><span class="fa icon-photo fa-2x"></span><br>Цены</a>
                    <a href="/dostavka"><span class="fa icon-truck fa-2x"></span><br>Доставка</a>
                    <a href="/otzivi"><span class="fa icon-wallet fa-2x"></span><br>Оплата</a>
                    <a href="/contact"><span class="fa icon-location fa-2x"></span><br>Контакты</a>
                </div>
            </div>
            <div class="row hidden-sm-down">
                <ul class="podrisovka nav nav-pills nav-stacked">
                    <li class="nav_bottom clearfix">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" itemprop="url">
                            Фото на Холсте<br>
                            <span>Перенос<br>Фотографии на холст</span>
                        </a>
						<ul class="dropdown-menu dropdown-menu-left menu-01">
							<li class="item-011">
								<a href="http://wowportret24.ru/foto_holst/photo_na_holste.html">
									<img src="../static/img/menu/menu_holst.jpg" alt="Фото на холсте">
									<span class="image-title">Фото на холсте</span>
								</a>
							</li>
							<li class="item-012">
								<a href="http://wowportret24.ru/foto_holst/podarki.html">
									<img src="../static/img/menu/podarki.jpg" alt="Подарки">
									<span class="image-title">Подарки</span>
								</a>
							</li>
						</ul>
                    </li>
                    <li class="nav_bottom clearfix">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" itemprop="url">
                            Портреты<br>
                            <span>Варианты исполнения<br>портрета по фото</span>
                        </a>
						<ul class="dropdown-menu dropdown-menu-left menu-02">
							<li class="item-021">
								<a href="http://wowportret24.ru/portret/propis.html">
									<img src="../static/img/menu/menu_propis.jpg" alt="Пропись маслом">
									<span class="image-title">Пропись маслом</span>
								</a>
							</li>
							<li class="item-022">
								<a href="http://wowportret24.ru/portret/imitathia.html">
									<img src="../static/img/menu/menu_imitatia.jpg" alt="Подарки">
									<span class="image-title">Имитация масла</span>
								</a>
							</li>
							<li class="item-023">
								<a href="http://wowportret24.ru/portret/obraz.html">
									<img src="../static/img/menu/obraz.jpg" alt="Образы">
									<span class="image-title">Обраты</span>
								</a>
							</li>
						</ul>
                    </li>
                    <li class="nav_bottom clearfix">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" itemprop="url">
                            Pop Art<br>
                            <span>Яркое воплощение<br>современного искусства</span>
                        </a>
						<ul class="dropdown-menu dropdown-menu-left menu-03">
							<li class="item-031">
								<a href="http://wowportret24.ru/portret/propis.html">
									<img src="../static/img/menu/menu_pop_art.jpg" alt="Pop Art">
									<span class="image-title">Pop Art</span>
								</a>
							</li>
							<li class="item-032">
								<a href="http://wowportret24.ru/portret/imitathia.html">
									<img src="../static/img/menu/menu_pin_up.jpg" alt="Pin Art">
									<span class="image-title">Pin Art</span>
								</a>
							</li>
						</ul>
                    </li>
                    <li class="nav_bottom clearfix">
                        <div class="button-wrap">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" itemprop="url">
                                Багет и деков<br>
                                <span>Деревянный багет,<br>Зеркала</span>
                            </a>
							<ul class="dropdown-menu menu-04">
								<li class="item-041">
									<a href="http://wowportret24.ru/baget_decor/zerkala.html">
										<img src="../static/img/menu/minor.jpg" alt="Зеркала">
										<span class="image-title">Зеркала</span>
									</a>
								</li>
								<li class="item-042">
									<a href="http://wowportret.ru/gallery/65/">
										<img src="../static/img/menu/baget.jpg" alt="Багет">
										<span class="image-title">Багет</span>
									</a>
								</li>
							</ul>
                        </div>
                    </li>
                    <li class="nav_bottom clearfix">
                        <div class="button-wrap">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" itemprop="url">
                                Галерея Картин<br>
                                <span>Репродукция, Обои, Модульные картины</span>
                            </a>
							<ul class="dropdown-menu dropdown-menu-right menu-05">
								<li class="item-051">
									<a href="http://wowportret24.ru/gallery_pictures/reproductia.html">
										<img src="../static/img/menu/reproductia.jpg" alt="Репродукция картин">
										<span class="image-title">Репродукция картин</span>
									</a>
								</li>
								<li class="item-052">
									<a href="http://wowportret24.ru/gallery_pictures/modulnie_kartini.html">
										<img src="../static/img/menu/triptih.jpg" alt="Модульные картины">
										<span class="image-title">Модульные картины</span>
									</a>
								</li>
								<li class="item-053">
									<a href="http://wowportret24.ru/gallery_pictures/fotooboi.html">
										<img src="../static/img/menu/fotooboi.jpg" alt="ФотоОбои">
										<span class="image-title">ФотоОбои</span>
									</a>
								</li>
							</ul>
                        </div>
                    </li>
                    <div class="clearfix"></div>
                </ul>
            </div>
        </div>
    </header>