<!-- {% load staticfiles %} -->
{% include "wowportret/components/menu.html" %}

    <header>
        <div class="container">
            <div class="row clearfix">

                <!-- логотип  -->
                <div class="logo logo-image">
                    <div class="logo-image">
                        <a href="/" title="WOWPortret.ru">
							<img class="logo-img img-full-width" src="{% static 'img/logo/logo_main.png' %}" alt="WowPortret24.ru">
                            <span>WOWPortret.ru</span>
                        </a>
                    </div>
                </div>
                <!-- конец логотип  -->
                <!-- верхние преимущества  -->
                <div class="icon_log clearfix hidden-lg-down">
                    <div>
                        <div><span class="fa icon-wallet"></span></div>
                        <div>Оплата заказа<b><br>при получении</b></div>
                    </div>
                    <div>
                        <div><span class="fa icon-star"></span></div>
                        <div><b>7 лет</b>
                            <br>успешной работы</div>
                    </div>
                    <div>
                        <div><span class="fa icon-settings"></span></div>
                        <div>Слаженная работа
                            <br><b>точно в срок</b>!</div>
                    </div>
                    <div>
                        <div><span class="fa icon-mail"></span></div>
                        <div>wowportret24@gmail.com
                            <br><b>прием заказа</b></div>
                    </div>
                </div>
                <!-- конец верхние преимущества  -->
                <!-- обратный звонок  -->
                <div class="telephone">
                    <div>8 (495)<b>908-72-74</b></div>
                    <br>
                    <div>8 (915)<b>463-09-64</b></div>
                    <br> Звонок 24 часа в сутки
                    <br> <a id="callback" data-toggle="modal" data-target="#myModal7">Заказать звонок</a>
                </div>
                <!-- конец обратный звонок  -->
                <div class="clearfix"></div>
            </div>

            <div class="row hidden-sm-down">
                <div class="nav_top clearfix">
                    <a href="http://wowportret.ru/post/"><span class="fa icon-user fa-2x"></span><br>Новостной блог</a>
                    <a href="http://wowportret24.ru/size-and-price.html"><span class="fa icon-photo fa-2x"></span><br>Цены и услуги</a>
                    <a href="http://wowportret24.ru/delivery.html"><span class="fa icon-truck fa-2x"></span><br>Доставка</a>
                    <a href="http://wowportret24.ru/payment.html"><span class="fa icon-wallet fa-2x"></span><br>Оплата</a>
                    <a href="http://wowportret24.ru/contacts.html"><span class="fa icon-location fa-2x"></span><br>Контакты</a>
                </div>
            </div>
            <div class="row hidden-sm-down">
                <ul class="podrisovka nav nav-pills nav-stacked">
                    <li class="nav_bottom item-011 clearfix">
                        <a href="http://wowportret24.ru/photo-na-holste.html">
                            Фото на Холсте<br>
                            <span>Перенос<br>Фотографии на холст</span>
                        </a>
                    </li>
                    <li class="nav_bottom clearfix">
                        <a href="http://wowportret24.ru/fotobox.html">
                            ФотоBox<br>
                            <span>3 картины в<br>подарочной упаковке</span>
                        </a>
                    </li>
                    <li class="nav_bottom clearfix">
                        <a href="http://wowportret24.ru/idealnyy-podarok.html#">
                            Лучший подарок<br>
                            <span>Настоящие картины<br>по фотографии</span>
                        </a>
                    </li>
                    <li class="nav_bottom clearfix">
                        <div class="button-wrap">
                            <a href="#" class="dropdown-arrow" data-toggle="dropdown" aria-expanded="false" itemprop="url">
                                Наши услуги
                                <span class="fa icon-uniF078 fa-1x"></span><br>
                                <span>Варианты исполнения<br>портрета/услуги</span>
                            </a>
							<ul class="dropdown-menu menu-04">
								<li class="item-041">
									<a href="http://wowportret24.ru/foto-holst/propis.html">
										<img src="{% static 'img/menu/menu_propis.jpg' %}" alt="Пропись маслом">
										<span class="image-title">Пропись маслом</span>
									</a>
								</li>
								<li class="item-042">
									<a href="http://wowportret24.ru/foto-holst/imitathia.html">
										<img src="{% static 'img/menu/menu_imitatia.jpg' %}" alt="Имитация масла">
										<span class="image-title">Имитация масла</span>
									</a>
								</li>
								<li class="item-043">
									<a href="http://wowportret24.ru/foto-holst/obraz.html">
										<img src="{% static 'img/menu/obraz.jpg' %}" alt="Портрет в образе">
										<span class="image-title">Портрет в образе</span>
									</a>
								</li>
								<li class="item-044">
									<a href="http://wowportret24.ru/foto-holst/pop-art.html">
										<img src="{% static 'img/menu/menu_pop_art.jpg' %}" alt="Pop Art">
										<span class="image-title">Pop Art</span>
									</a>
								</li>
								<li class="item-045">
									<a href="http://wowportret24.ru/foto-holst/pin-up.html">
										<img src="{% static 'img/menu/menu_pin_up.jpg' %}" alt="Pip Up">
										<span class="image-title">Pip Up</span>
									</a>
								</li>
								<li class="item-046">
									<a href="http://wowportret24.ru/foto-holst/podarki.html">
										<img src="{% static 'img/menu/podarki.jpg' %}" alt="Подарки">
										<span class="image-title">Подарки</span>
									</a>
								</li>
								<li class="item-047">
									<a href="http://wowportret.ru/gallery/65/">
										<img src="{% static 'img/menu/baget.jpg' %}" alt="Багет">
										<span class="image-title">Багетные рамы</span>
									</a>
								</li>
								<li class="item-048">
									<a href="http://wowportret24.ru/foto-holst/bonus.html">
										<img src="{% static 'img/menu/bonus_prog.jpg' %}" alt="Бонус">
										<span class="image-title">Бонус</span>
									</a>
								</li>
							</ul>
                        </div>
                    </li>
                    <li class="nav_bottom clearfix">
                        <div class="button-wrap">
                            <a href="#" class="dropdown-arrow" data-toggle="dropdown" aria-expanded="false" itemprop="url" style="padding:0;">
                                Модульные картины<br>
                                <span>Репродукция, Обои, Модульные картины</span>
                            </a>
							<ul class="dropdown-menu dropdown-menu-right menu-05">
								<li class="item-051">
									<a href="http://wowportret24.ru/gallery-pictures/reproductia.html">
										<img src="{% static 'img/menu/reproductia.jpg' %}" alt="Репродукция картин">
										<span class="image-title">Репродукция картин</span>
									</a>
								</li>
								<li class="item-052">
									<a href="http://wowportret24.ru/gallery-pictures/modulnie_kartini.html">
										<img src="{% static 'img/menu/triptih.jpg' %}" alt="Модульные картины">
										<span class="image-title">Модульные картины</span>
									</a>
								</li>
								<li class="item-053">
									<a href="http://wowportret24.ru/gallery-pictures/fotooboi.html">
										<img src="{% static 'img/menu/fotooboi.jpg' %}" alt="ФотоОбои">
										<span class="image-title">ФотоОбои</span>
									</a>
								</li>
							</ul>
                        </div>
                    </li>
                    <div class="clearfix"></div>
                </ul>
            </div>
        </div>
    </header>