<!-- {% load staticfiles %} -->
{% include "wowportret/components/menu.html" %}

    <header>
        <div class="container">
            <div class="row clearfix">

                <!-- логотип  -->
                <div class="logo logo-image">
                    <div class="logo-image">
                        <a href="/" title="WOWPortret.ru">
                            <img class="logo-img" src="../static/img/logo/logo_main.png" alt="WOWPortret24.ru">
                            <span>WOWPortret.ru</span>
                        </a>
                    </div>
                </div>
                <!-- конец логотип  -->
                <!-- верхние преимущества  -->
                <div class="icon_log clearfix hidden-lg-down">
                    <div>
                        <div><span class="fa icon-wallet"></span></div>
                        <div>Оплата заказа<b><br>при получении</b></div>
                    </div>
                    <div>
                        <div><span class="fa icon-star"></span></div>
                        <div><b>7 лет</b>
                            <br>успешной работы</div>
                    </div>
                    <div>
                        <div><span class="fa icon-settings"></span></div>
                        <div>Слаженная работа
                            <br><b>точно в срок</b>!</div>
                    </div>
                    <div>
                        <div><span class="fa icon-mail"></span></div>
                        <div>wowportret24@gmail.com
                            <br><b>прием заказа</b></div>
                    </div>
                </div>
                <!-- конец верхние преимущества  -->
                <!-- обратный звонок  -->
                <div class="telephone">
                    <div>8 (495)<b>908-72-74</b></div>
                    <br>
                    <div>8 (915)<b>463-09-64</b></div>
                    <br> Звонок 24 часа в сутки
                    <br> <a data-toggle="modal" data-target="#obratniy_log">Заказать звонок</a>
                </div>
                <!-- конец обратный звонок  -->
                <div class="clearfix"></div>
            </div>

            <div class="row hidden-sm-down">
                <div class="nav_top clearfix">
                    <a href="/razmeri-i-ceni"><span class="fa icon-user fa-2x"></span><br>Новости</a>
                    <a href="/oplata"><span class="fa icon-photo fa-2x"></span><br>Цены</a>
                    <a href="/dostavka"><span class="fa icon-truck fa-2x"></span><br>Доставка</a>
                    <a href="/otzivi"><span class="fa icon-wallet fa-2x"></span><br>Оплата</a>
                    <a href="/contact"><span class="fa icon-location fa-2x"></span><br>Контакты</a>
                </div>
            </div>
            <div class="row hidden-sm-down">
                <div class="podrisovka">
                    <div class="nav_bottom clearfix">
                        <a href="/photo_na_holste/index.html" itemprop="url">
                                Фото на Холсте<br>
                                <span>Перенос Фотографии на холст</span>
                            </a>
                    </div>
                    <div class="nav_bottom clearfix">
                        <a href="http://trendhit.ru/Оплата" itemprop="url">
                                Имитация Масла<br>
                                <span>Нанесение текстурного арт геля</span>
                            </a>
                    </div>
                    <div class="nav_bottom clearfix">
                        <a href="http://trendhit.ru/Оплата" itemprop="url">
                                Пропись Маслом<br>
                                <span>"Жакле" портрет маслянными красками</span>
                            </a>
                    </div>
                    <div class="nav_bottom clearfix">
                        <div class="button-wrap">
                            <a href="http://trendhit.ru/Оплата" itemprop="url">
                                    Pop Art Портрет<br>
                                    <span>Индивидуальный портрет по фото</span>
                                </a>
                        </div>
                    </div>
                    <div class="nav_bottom clearfix">
                        <div class="button-wrap">
                            <a href="http://trendhit.ru/Оплата" itemprop="url">
                                    Галерея Картин<br>
                                    <span>Репродукция, Образы, Модульные картины</span>
                                </a>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </header>