<nav id="main_nav" class="navbar navbar-fixed-top navbar-light bg-faded-cstm navigation">
<div class="container>
    <a class="navbar-toggle ramka mob_tel hidden-md-up" href="tel:12345678">
        <i class="fa fa-phone fa-2x">Здесь должна быть иконка телефоны</i>
    </a>
    <button class="navbar-toggler hidden-md-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
        &#9776;
    </button>
    <div class="collapse navbar-toggleable-sm" id="exCollapsingNavbar2">
        <a class="navbar-brand" href="/">Wowportret.ru</a>
        <ul class="nav navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                   Услуги</a>
                <div class="dropdown-menu shdw">
                    <a class="dropdown-item" href="{% url 'wowportret.views.holst_page' %}">Фото на холсте</a>
                    <a class="dropdown-item" href="{% url 'wowportret.views.maslo2_page' %}">Имитация масла</a>
                    <a class="dropdown-item" href="{% url 'wowportret.views.maslo_page' %}">Пропись маслом</a>
                    <a class="dropdown-item" href="{% url 'wowportret.views.popart_page' %}">Pop Art портрет</a>
                    <a class="dropdown-item" href="{% url 'wowportret.views.gallery_page' %}">Галерея картин</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link {% ifequal request.path '/maslo2/' %} active {% endifequal%}" href="/post/">Новости</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% ifequal request.path '/maslo/' %} active {% endifequal%}" href="/price/">Цены</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    Доставка/Оплата</a>
                <div class="dropdown-menu shdw">
                    <a class="dropdown-item" href="{% url 'wowportret.views.delivery_page' %}">Доставка</a>
                    <a class="dropdown-item" href="{% url 'wowportret.views.payment_page' %}">Оплата</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link {% ifequal request.path '/baget/' %} active {% endifequal%}" href="/gallery/65/">Багетные рамы</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% ifequal request.path '/gallery/' %} active {% endifequal%}" href="/contacts/">Контакты</a>
            </li>
        </ul>
    </div>
</div>
</nav>
