<div class="row">
    <div class="mt col-xs-12">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link text-back" data-toggle="tab" href="#menu1">Фото на холсте</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-back" data-toggle="tab" href="#menu2">Имитация масла</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-back" data-toggle="tab" href="#menu3">Портрет маслом</a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="menu1" class="tab-pane fade active in">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead class="thead-inverse">
                            <tr>
                                <th scope="row">Размер, см</th>
                                <th>Без рамки</th>
                                <th>Рамка категории A</th>
                                <th>Рамка категории Б</th>
                                <th>Рамка категории C</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">30x40</th>
                                <td>1490</td>
                                <td>2380</td>
                                <td>3190</td>
                                <td>4290</td>
                            </tr>
                            <tr>
                                <th scope="row">40х60</th>
                                <td>2490</td>
                                <td>3530</td>
                                <td>4390</td>
                                <td>5490</td>
                            </tr>
                            <tr>
                                <th scope="row">50х70</th>
                                <td>3490</td>
                                <td>4810</td>
                                <td>5690</td>
                                <td>6990</td>
                            </tr>
                            <tr>
                                <th scope="row">60х80</th>
                                <td>4390</td>
                                <td>6020</td>
                                <td>6990</td>
                                <td>8690</td>
                            </tr>
                            <tr>
                                <th scope="row">75х105</th>
                                <td>6990</td>
                                <td>8190</td>
                                <td>9390</td>
                                <td>11590</td>
                            </tr>
                            <tr>
                                <th scope="row">90х110</th>
                                <td>7990</td>
                                <td>9290</td>
                                <td>10590</td>
                                <td>12590</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="menu2" class="tab-pane fade">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead class="thead-inverse">
                            <tr>
                                <th scope="row">Размер, см</th>
                                <th>Без рамки</th>
                                <th>Рамка категории A</th>
                                <th>Рамка категории Б</th>
                                <th>Рамка категории C</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">30х40</th>
                                <td>1990</td>
                                <td>2880</td>
                                <td>3690</td>
                                <td>4790</td>
                            </tr>
                            <tr>
                                <th scope="row">40х60</th>
                                <td>3490</td>
                                <td>4530</td>
                                <td>5390</td>
                                <td>6490</td>
                            </tr>
                            <tr>
                                <th scope="row">50х70</th>
                                <td>5490</td>
                                <td>6810</td>
                                <td>7690</td>
                                <td>8990</td>
                            </tr>
                            <tr>
                                <th scope="row">60х80</th>
                                <td>8390</td>
                                <td>10020</td>
                                <td>10990</td>
                                <td>12690</td>
                            </tr>
                            <tr>
                                <th scope="row">75х105</th>
                                <td>12990</td>
                                <td>13990</td>
                                <td>15390</td>
                                <td>17590</td>
                            </tr>
                            <tr>
                                <th scope="row">90х110</th>
                                <td>14990</td>
                                <td>16390</td>
                                <td>17590</td>
                                <td>19590</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
			<div id="menu3" class="tab-pane fade">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead class="thead-inverse">
                            <tr>
                                <th scope="row">Размер, см</th>
                                <th>Без рамки</th>
                                <th>Рамка категории A</th>
                                <th>Рамка категории Б</th>
                                <th>Рамка категории C</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">30х40</th>
                                <td>2990</td>
                                <td>3880</td>
                                <td>4690</td>
                                <td>5790</td>
                            </tr>
                            <tr>
                                <th scope="row">40х60</th>
                                <td>5490</td>
                                <td>6530</td>
                                <td>7390</td>
                                <td>8490</td>
                            </tr>
                            <tr>
                                <th scope="row">50х70</th>
                                <td>9490</td>
                                <td>10810</td>
                                <td>11690</td>
                                <td>12990</td>
                            </tr>
                            <tr>
                                <th scope="row">60х80</th>
                                <td>13390</td>
                                <td>15020</td>
                                <td>15990</td>
                                <td>17690</td>
                            </tr>
                            <tr>
                                <th scope="row">75х105</th>
                                <td>21990</td>
                                <td>23190</td>
                                <td>24390</td>
                                <td>26590</td>
                            </tr>
                            <tr>
                                <th scope="row">90х110</th>
                                <td>25990</td>
                                <td>26990</td>
                                <td>28590</td>
                                <td>30590</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
		</div>
    </div>
</div>
