{% load staticfiles %}
<!-- <script src="{% static 'js/jquery-calx-2.2.7.min.js' %}"></script> -->
<script src="{% static 'js/jquery.fancybox.pack.js' %}"></script>
<script src="{% static 'js/jquery.fancybox-buttons.js' %}"></script>
<script src="{% static 'js/jquery.fancybox-media.js' %}"></script>
<script src="{% static 'js/jquery.fancybox-thumbs.js' %}"></script>
<script src="{% static 'js/jquery.fancybox-thumbs.js' %}"></script>
<script src="{% static 'js/gallery-item.js' %}"></script>
<script>
function addDataToForm() {
    var name = $('h2').text();
    var mat_type = "";
    var baget = "";
    if ($('#fst_block :input[type=checkbox]').prop('checked')) {
        baget = $('input[name=optionsRadios]:checked').parent().text().trim();
    } else {
        baget = "Не оформлять багет";
    }
    if ($('#main_size').is(':visible')) {
        mat_type = "Холст";
        var size = $("#main_size option:selected");
    }
    if ($('#paper_size').is(':visible')) {
        mat_type = "Бумага";
        var size = $("#paper_size option:selected");
        baget = "";
    }



    var price = $("#total_price").text();
    var opts = "";

    if ($("#lac_check:visible").prop("checked")) {
        opts += "Прописать масляной краской. <br>";
    }
    if ($("#gel_check:visible").prop("checked")) {
        opts += "Покрыть текстурным гелем. <br>";
    }

    // $("#id_contact_item").val(name + ",\nРазмеры: \n" + size + ",\n" + baget + " " + opts + "Цена: " + price);
    $("#info").html("<p class='price'>" + name + "</p>" +
        "<p class='price'>Тип материала: " + mat_type + "</p>" +
        "<p class='price'>Размер: " + $(size[0]).text() + "</p>" +
        "<p class='price'>" + baget + "</p>" +
        "<p class='price'>" + opts + "</p>" +
        "<p class='price'> Цена: " + price + " руб.</p>");
};
</script>
