{% load staticfiles %}
<!-- <script src="{% static 'js/jquery-calx-2.2.7.min.js' %}"></script> -->
<script src="{% static 'js/jquery.fancybox.pack.js' %}"></script>
<script src="{% static 'js/jquery.fancybox-buttons.js' %}"></script>
<script src="{% static 'js/jquery.fancybox-media.js' %}"></script>
<script src="{% static 'js/jquery.fancybox-thumbs.js' %}"></script>
<script src="{% static 'js/jquery.fancybox-thumbs.js' %}"></script>
<script src="{% static 'js/gallery-item.js' %}"></script>
<script>
function addDataToForm() {
    var name = $('h2').text();
    var mat_type = "";
    var baget = "";
    if ($('#fst_block :input[type=checkbox]').prop('checked')) {
        baget = $('input[name=optionsRadios]:checked').parent().text().trim();
        //get type of baget from img src attribute by several splitting
        var baget_border = $('.border-mini-img').find('.baget-active');
        var baget_type = 'не выбран.';
        if (baget_border.length != 0) {
            baget_type = $(baget_border).attr('src').split('/')[5].split('.')[0].split('mini')[1];
        }
        baget = baget + ", тип: " + baget_type;
    } else {
        baget = "Не оформлять багет";
    }
    if ($('#main_size').is(':visible')) {
        mat_type = "Холст";
        var size = $("#main_size option:selected");
    }
    if ($('#paper_size').is(':visible')) {
        mat_type = "Бумага";
        var size = $("#paper_size option:selected");
        baget = "";
    }



    var price = $("#total_price").text();
    var opts = "";

    if ($("#lac_check:visible").prop("checked")) {
        opts += "Прописать масляной краской. <br>";
    }
    if ($("#gel_check:visible").prop("checked")) {
        opts += "Покрыть текстурным гелем. <br>";
    }

    // $("#id_contact_item").val(name + ",\nРазмеры: \n" + size + ",\n" + baget + " " + opts + "Цена: " + price);
    $("#info").html("<p class='price'>" + name + "</p>" +
        "<p class='price'>Тип материала: " + mat_type + "</p>" +
        "<p class='price'>Размер: " + $(size[0]).text() + "</p>" +
        "<p class='price'>" + baget + "</p>" +
        "<p class='price'>" + opts + "</p>" +
        "<p class='price'> Цена: " + price + " руб.</p>");


    $('#id_contact_item').val("Название: " + name + "\n" +
        "Тип материала: " + mat_type + "\n" +
        "Размер: " + $(size[0]).text() + "\n" +
        "" + baget + "\n" +
        "" + opts + "\n" +
        "Цена: " + price + " руб.\n" +
        "Ссылка на изображение: http://wowportret.ru" + $('#main-img').attr('src'));
};

function addMoudleDataToForm() {
    var name = $('h2').text();
    var size = $("#mod_size option:selected");
    var mat_type = "Модульная печать, вариант: " + $(":input[name=module-type]:checked").attr('id').split('-')[1];
    var price = $("#module_total_price").text();
    var opts = "";

    if ($("#module_lac_check:visible").prop("checked")) {
        opts += "Прописать масляной краской. <br>";
    }
    if ($("#module_gel_check:visible").prop("checked")) {
        opts += "Покрыть текстурным гелем. <br>";
    }

    // $("#id_contact_item").val(name + ",\nРазмеры: \n" + size + ",\n" + baget + " " + opts + "Цена: " + price);
    $("#info").html("<p class='price'>" + name + "</p>" +
        "<p class='price'>" + mat_type + "</p>" +
        "<p class='price'>Размер: " + $(size[0]).text() + "</p>" +
        "<p class='price'>" + opts + "</p>" +
        "<p class='price'> Цена: " + price + " руб.</p>");

    var str = $(':input[name=module-type]:checked').attr('id')
    $('#id_contact_item').val("Название: " + name + "\n" +
        "Тип материала: " + mat_type + "\n" +
        "Размер: " + $(size[0]).text() + "\n" +
        "" + opts + "\n" +
        "Цена: " + price + " руб.\n" +
        "Ссылка на изображение: http://wowportret.ru" + $('#main-img').attr('src') + "\n" +
        "Ссылка на вариант багета: " + $('label[for="' + str + '"]').css('background-image').replace(/.*\s?url\([\'\"]?/, '').replace(/[\'\"]?\).*/, ''));
};
</script>
<script>
$(document).ready(function() {
    $('.toggle').click(function(e) {
        e.preventDefault();

        var $this = $(this);

        if ($this.next().hasClass('show')) {
            $this.next().removeClass('show');
            $this.next().slideUp(350);
        } else {
            $this.parent().parent().find('li .inner').removeClass('show');
            $this.parent().parent().find('li .inner').slideUp(350);
            $this.next().toggleClass('show');
            $this.next().slideToggle(350);
        }
    });

    var level_2 = $('.accordion .active').parent().parent();
    var level_0 = $(level_2).parent().parent();
    if ($(level_0).attr('class') == "inner collapse") {
        $(level_2).toggleClass('show');
        $(level_2).slideToggle(0);
        $(level_0).toggleClass('show');
        $(level_0).slideToggle(0);
    } else if ($(level_2).attr('class') == "inner collapse") {
        $(level_2).toggleClass('show');
        $(level_2).slideToggle(0);
    }
});
</script>
<script>
$(document).ready(function() {
    $(".fancybox-thumb").fancybox({
        prevEffect: 'none',
        nextEffect: 'none',
        helpers: {
            title: {
                type: 'outside'
            },
            thumbs: {
                width: 50,
                height: 50
            }
        }
    });

    $(".fancybox").fancybox({
        openEffect: 'elastic',
        closeEffect: 'elastic'
    });
});
</script>
