{% extends 'wowportret/base.html' %} {% load staticfiles %} {% block content %}
<div class="container white add-shdw" style="margin-top: 75px">
    <div class="p-y-3 section" draggable="false">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <img id="scream" src="http://skymaiden.com/placeholder.php?size=300x150&bg=9BCE3B&fg=fff" style="display: none">
                    <canvas id="myCanvas" width="300" height="150">
                        Your browser does not support the HTML5 canvas tag.
                        Ваш браузер не поддерживает HTML5 canvas tag.</canvas>
                </div>
            </div>
        </div>
    </div>
<script src="{% static 'js/module-image-creator.js' %}"></script>
    {% endblock content %}
