{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru">
        <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Document</title>

        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

        <!-- Custom CSS -->
        <link href="{% static 'css/full-width-pics.css' %}" rel="stylesheet">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="{% static 'https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="{% static 'https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>
    <body>
        <!-- Full Width Image Header with Logo -->
    <!-- Image backgrounds are set within the full-width-pics.css file. -->
<!--     <header class="image-bg-fluid-height">
        <img class="img-responsive img-center" src="{% static 'img/bg/1bg.jpg' %}" alt="">
    </header> -->

    <!-- Fixed Height Image Aside -->
    <!-- Image backgrounds are set within the full-width-pics.css file. -->
    <!-- <aside class="image-bg-fixed-height"></aside> -->

        <div class="container white">
        <div class="row">
            <div class="col-xs-12 col-xs-offset-6">
                <h1><span class="yellow">Арт обработка <br /> фотографий</span> </h1>
            </div>
        <!-- set as background -->
        <!-- add title + span -->
        <!-- <aside class="image-bg-fixed-height"></aside> -->
            <img class="img-responsive img-full-width" src="{% static 'img/bg/2bg.jpg' %}" alt="">
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-8 col-lg-8">
                <h3> Достаточно молодой, но уже набравший попоуляронсть, совеременный вид искусства</h3>
                <p class="text-back">
                Digital рисунок, на сегодняшний день,один из самых востребованных видов искусства в Европе.Ни одна кинопремьера или реклама не обходится без помощи
                    профессиональных digital дизайнеров. Сегодня все сложнее найти фотографию или рисунок,который выходит в массы без предварительной обработки.
                </p>
                <p class="text-back">
                Одним из направлений такого искусства является Двойная экспозици.  <br />
                Достаточно необычнй вариант для создания портрета по фотографии.  <br />
                Стоимость обработки в таком стиле за 1 персону  <br />
                составит 850р.  <br />
                Сроки выполнения макета,от 1 дня .  <br />
                </p>
            </div>
            <div class="col-xs-6 col-md-4 col-lg-4 hidden-sm-down">
                <img class="img-responsive img-full-width" src="{% static 'img/content/art/guy.jpg' %}" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <img class="img-responsive img-full-width" src="{% static 'img/content/art/girl_boy.jpg' %}" alt="">
            </div>
            <div class="col-xs-12 col-xs-offset-3">
            <button type="button" class="btn btn-want">Хочу также</button>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <p class="text-xs-center">Еще одно из востребованных стилей  <br />
является - «цифровой портрет»  <br />
Художник-дизайнер, по Вашей фотографии рисует портрет на компьютере при помощи электронного пера и специального графического планшета </p>
            </div>
        </div>
        <div class="row">
            <!-- <div class="col-xs-12"> -->
                <img class="img-responsive img-center" src="{% static 'img/content/art/girld_kid.jpg' %}" alt="">
            <!-- </div> -->
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6">
                <h3>Цифровой портрет</h3>
                <p class="text-back">
                    Процесс создания цифрового портрета, достаточно долгий и трудоемкий процесс.  <br />
Он сравним с тем,как художник рисует свои полотна кистями и красками,но в данной технике используются эллектронные кисти и краски. Такой портрет останется действительно на очень долгие годы.  <br />
Ведь он не болится воздействия окружающей среды.Нарисовав один раз, цифровой портрет можно в дальнейшем перенести на любую поверхность,холст,дерево, бумага,даже на кружку или футболку!  <br />
                </p>
                <p class="text-back">
                    Сроки исполнения 5-8 рабочих дней за 1 персону  <br />

Стоимость ч/б портрета 1 персоны  <br />
1700р  <br />

Стоимость цветного портрета 1 персоны  <br />
2200р  <br />


                </p>

            </div>
            <div class="col-xs-12 col-md-6 hidden-sm-down">
                <img class="img-responsive img-center" src="{% static 'img/content/art/little_kid.jpg' %}" alt="">
                <!-- Уменьшить девушку -->
                <!-- <img class="img-responsive img-center" src="{% static 'img/content/art/adult_girl.jpg' %}" alt=""> -->
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-6 mt">
                <img class="img-responsive img-full-width" src="{% static 'img/content/art/prev1.jpg' %}" alt="">
            </div>
            <div class="col-xs-12 col-md-6 mt">
                <img class="img-responsive img-full-width" src="{% static 'img/content/art/prev2.jpg' %}" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-6 mt">
                <img class="img-responsive img-full-width" src="{% static 'img/content/art/prev3.jpg' %}" alt="">
            </div>
            <div class="col-xs-12 col-md-6 mt">
                <img class="img-responsive img-full-width" src="{% static 'img/content/art/prev4.jpg' %}" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-xs-center col-xs-offset-3">
                <button type="button" class="btn btn-want">Хочу также</button>
                <!-- <img class="img-responsive img-center" src="{% static 'img/content/art/girld_kid.jpg' %}" alt=""> -->
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-xs-center">
                <h3>Стиль цифрового портрета - «Космическая геометрия»</h3>
            </div>
            <div class="col-sm-8 col-xs-center">
                <p class="text-back">
                    Стоимость портрета за 1 персону  <br />
                    950р  <br />

                    Сроки выполнения портрета  <br />
                    в данном стиле  <br />
                    1 рабочий день!  <br />

                    После создания, портрет можно перенести на холст.  <br />
                    Оформление в деревянный багет в данной стилистике не требуется.  <br />
                    Картина выглядит эффетно в любом интерьере!  <br />

                </p>
            </div>
            <div class=" col-xs-12 col-sm-4 text-xs-center">
                <!-- Уменьшить -->
                <img class="img-responsive img-full-width" src="{% static 'img/content/art/tima.jpg' %}" alt="">
            </div>
        </div>
        <div class="row">
            <div class=" col-xs-12 text-xs-center">
                <img class="img-responsive" src="{% static 'img/content/art/megan.jpg' %}" alt="">
            </div>
        </div>
        <div class="row">
            <div class=" col-xs-12 text-xs-center">
                <button type="button" class="btn btn-want">Хочу также</button>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 text-xs-center">
                <h3>Стиль цифрового потрета: <br />
                        Буйство красок!</h3>
                <p class="text-back">
                    Стоимость портрета в данной стилистике 1000р до 2х персон на картине<br />
                    Сроки исполнения 1-2 рабочих дня.
                </p>
                <img class="img-responsive img-full-width" src="{% static 'img/content/art/art1.jpg' %}" alt="">

                <button type="button" class="btn btn-want">Хочу также</button>
            </div>
        </div>


        </div>


        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
    </body>
</html>