{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru">
{% include "wowportret/components/head.html" %}

<body>
    {% include "wowportret/components/header.html" %} {% block content %} {% endblock %}
    <div class="container white add-shdw mt mb">
        {% include "wowportret/components/price_table.html" %} {% include "wowportret/components/form.html" %}
    </div>
    {% include "wowportret/components/footer.html" %}
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/lazy/jquery.lazy.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.1.62/jquery.inputmask.bundle.js"></script>
    <script>
    $(function() {
        $('.lazy').lazy();
    });
    </script>
    <script>
    $(window).load(function() {
        var phones = [{
            "mask": "+7 (###) ###-####"
        }, {
            "mask": "+7 (###) ###-##############"
        }];
        $('#id_contact_phone').inputmask({
            mask: phones,
            greedy: false,
            definitions: {
                '#': {
                    validator: "[0-9]",
                    cardinality: 1
                }
            }
        });
    });
    </script>
</body>

</html>
