{% extends 'wowportret/base.html' %}
{% load staticfiles %}
{% block content %}

        <div class="container-fluid white">
        <div class="row">
        <div class="header" style="background: url({% static 'img/content/classic/1bg.jpg' %}) no-repeat; min-height: 1000px">
                <div class="col-xs-12 col-sm-6 col-sm-offset-6">
                <h1 class="art"><span class="blue">Классический портрет с заменой фона</span> </h1>
                </div>

        </div>
        </div>
        <div class="container white">
<!--         <div class="row">
            <div class="col-xs-12 col-xs-offset-6">
                <h1><span class="blue">Классический портрет <br /> с заменой фона</span> </h1>
            </div>
            <img class="img-responsive img-full-width" src="{% static 'img/content/classic/1bg.jpg' %}" alt="">
        </div> -->
        <div class="row mt">
            <div class="col-xs-12 text-xs-center">
                <h3> <strong> Даже самые непримечательные фотографии могут превратиться в настоящую картину. </strong></h3>
                <p class="text-back">
Для изготовления классического портрет нам понадобится всего <span class="yellow">1 &nbspфотография,которую Вы вырежите</span> <br />  для создания картины. Мы заменим фон и стилизуем фото, под живопись. <br />  Получившийся макет направим Вам на утверждение.После чего, изображение будет перенесено на холст и натянуто на деревянный подрамник. <br />  Так же готовую картину,можно оформить в <span class="red">деревянную багетную раму.</span>
                </p>
            </div>
        </div>
        <div class="row mt">
            <div class="col-xs-12 text-xs-center mt">
                <h3> <strong> Вот некоторые варианты: </strong> </h3>
                <div class="row">
                    <div class="col-xs-6">
                        <img class="img-responsive img-full-width" src="{% static 'img/content/classic/art1.jpg' %}" alt="">
                    </div>
                    <div class="col-xs-6">
                        <img class="img-responsive img-full-width" src="{% static 'img/content/classic/art7.jpg' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt">
            <div class="col-xs-12">
                <img class="img-responsive img-full-width" src="{% static 'img/content/classic/art2.jpg' %}" alt="">
            </div>
        </div>
        <div class="row mt">
            <div class="col-xs-12">
                <img class="img-responsive img-full-width" src="{% static 'img/content/classic/art3.jpg' %}" alt="">
            </div>
        </div>
        <div class="row mt">
            <div class="col-xs-12">
                <img class="img-responsive img-full-width" src="{% static 'img/content/classic/art4.jpg' %}" alt="">
            </div>
        </div>
        <div class="row mt">
            <div class="col-xs-12">
                <!-- Сделать цены -->
                <img class="img-responsive img-full-width" src="{% static 'img/content/classic/art5.jpg' %}" alt="">
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <!-- Сделать цены -->
                <img class="img-responsive img-center" src="{% static 'img/content/classic/art6.jpg' %}" alt="">
            </div>
        </div>

        </div>
{% endblock content %}