{% extends 'wowportret/base.html' %}
{% load staticfiles %}
{% block content %}
<div class="container white mt" style="margin-top: 100px;">
    <div class="row">
      <div class="col-xs-12">
        <h2>{{item.title}}</h2>
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-7">
            {% if item.image %}
                <img class="img-full-width" src="{{ item.image.url }}" alt="{{ item.alt }}" />
            {% endif %}
          </div>
          <div class="col-xs-12 col-sm-6 col-md-5">
          <!-- <form id="calx1">
            <table>
                <tbody>
                <tr>
                    <td><strong>Выберите размер</strong> </td>
                    <td>
                    <select name="proc" id="proc">
                        <option value="15">1 Core</option>
                        <option value="22">2 Core</option>
                        <option value="30">4 Core</option>
                    </select>
                    </td>
                </tr>
                <tr>
                    <td><input type="checkbox" id="item1" value="150" /></td>
                    <td>Оформить в багет</td>
                    <td>$ 150</td>
                </tr>
                <tr>
                    <td>Total Price :</td>
                    <td id="total_price" data-format="$ 0,0[.]00" data-formula="$proc+$ram+$hdd+$item1"></td>
                </tr>
                </tbody>
            </table>
            </form> -->
            <form id="calx">
            <p>
            <strong> 1. Выберите размер: </strong> <br />
            <select class="c-select" id="size">
              <option value="1000" selected>45 х 30</option>
              <option value="2000">A x B</option>
              <option value="3000">A x B</option>
              <option value="4000">A x B</option>
            </select>
            </p>
            <p>
            <strong> 2. Дополнительные возможности: </strong> <br />
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="baget_check" value="1000"> Оформить в багет
                </label>
                <label> <u> подробнее </u> </label>
                <div class="collapse" id="baget_list">
                    <div class="card-block">
                        Здесь будет список багетов
                    </div>
                </div>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="lac_check" value="1000"> Покрыть лаком
                </label>
                <label> <u> подробнее </u> </label>
                <div class="collapse" id="baget_list">
                    <div class="card-block">
                        Рекомендуется для увеличения износостойкости холста.
                        При покрытии лаком матового холста лак в данном случае несет только защитную функцию, но не придаёт работе блеск.
                        При покрытии лаком сатинового холста, лак несет и защитную функцию, но и добавляет блеска работе, придает яркость и сочность изображениям.
                    </div>
                </div>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="gel_check" value="1000"> Обработать факутрным гелем
                </label>
                <label> <u> подробнее </u> </label>
                <div class="collapse" id="baget_list">
                    <div class="card-block">
                        Фактурный гель прозрачный и наносится мазками в мазки художника, что придает эффект объема картине, а также создает эффект масляных красок.
                    </div>
                </div>
            </div>
            </p>
            <div class="price">
            <strong>Цена: </strong>
            <label id="total_price" data-format="0,0[.]00" data-formula="$size+$baget_check+$lac_check+$gel_check"></label> руб.
            </div>
            <p>
                <button type="button" class="btn btn-order hvr-bounce-to-right">Заказать</button>
            </p>
            <p>
              <a class="btn btn-info" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                Информация #1
              </a>
            </p>
            <div class="collapse" id="collapseExample">
              <div class="card-block">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
              </div>
            </div>
            <p>
              <a class="btn btn-info" data-toggle="collapse" href="#collapseExample1" aria-expanded="false" aria-controls="collapseExample">
                Информация #2
              </a>
            </p>
            <div class="collapse" id="collapseExample1">
              <div class="card-block">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
              </div>
            </div>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>


{% endblock content %}