{% extends 'wowportret/base.html' %}
{% load staticfiles %}
{% block content %}
<div class="container white mt" style="margin-top: 100px;">
    <div class="row">
      <div class="col-xs-12">
        {% if item.title %}
            <h2>{{ item.title }}</h2>
        {% else %}
            <h2>Работа #{{ item.id }}</h2>
        {% endif %}
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-7">
          {% if item.image %}
                <img class="img-full-width" src="{{  item.image.url }}" alt="{{ item.alt }}" />
          {% endif %}
          </div>
          <div class="col-xs-12 col-sm-6 col-md-5">

            <form id="calx">
            <p>
            <strong> 1. Выберите размер: </strong> <br />
            <select class="c-select" id="size">
              <option value="1490" selected>30x40</option>
              <option value="2490">40x60</option>
              <option value="3490">50x70</option>
              <option value="4390">60x80</option>
              <option value="6990">75x105</option>
              <option value="7990">90x110</option>
            </select>
            </p>
            <p>
            <strong> 2. Дополнительные возможности: </strong> <br />
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="baget_check" value="1000"> Оформить в багет
                </label>
                <label class="more"> <u> подробнее </u> </label>
                <div class="collapse" id="baget_list">
                    <div>
                    {% for baget in baget_items %}
                        <div class="radio-inline">
                          <label>
                            <input type="radio" name="optionsRadios" id="optionsRadios{{baget.id}}" value="{{baget.id}}" checked>
                            {{ baget.id}}
                          </label>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="lac_check" value="1000"> Прописать масляной краской
                </label>
                <label class="more"> <u> подробнее </u> </label>
                <div class="collapse" id="lac_info">
                    <div class="card-block">
                        Рекомендуется для увеличения износостойкости холста.
                        При покрытии лаком матового холста лак в данном случае несет только защитную функцию, но не придаёт работе блеск.
                        При покрытии лаком сатинового холста, лак несет и защитную функцию, но и добавляет блеска работе, придает яркость и сочность изображениям.
                    </div>
                </div>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="gel_check" value="1000"> Покрыть текстурным гелем
                </label>
                <label class="more"> <u> подробнее </u> </label>
                <div class="collapse" id="gel_info">
                    <div class="card-block">
                        Фактурный гель прозрачный и наносится мазками в мазки художника, что придает эффект объема картине, а также создает эффект масляных красок.
                    </div>
                </div>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="mod_check" value="1000"> Сделать модульную картину
                </label>
                <label class="more"> <u> подробнее </u> </label>
                <div class="collapse" id="mod_info">
                    <div class="card-block">
                        Фактурный гель прозрачный и наносится мазками в мазки художника, что придает эффект объема картине, а также создает эффект масляных красок.
                    </div>
                </div>
            </div>
            </p>
            <div class="price">
            <strong>Цена: </strong>
            <label id="total_price" data-format="0,0[.]00" data-formula="$size+$baget_check+$lac_check+$gel_check"></label> руб.
            </div>
            <p>
                <button type="button" class="btn btn-order hvr-bounce-to-right">Заказать</button>
            </p>
            <p>
              <a class="btn btn-info" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                Информация #1
              </a>
            </p>
            <div class="collapse" id="collapseExample">
              <div class="card-block">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
              </div>
            </div>
            <p>
              <a class="btn btn-info" data-toggle="collapse" href="#collapseExample1" aria-expanded="false" aria-controls="collapseExample">
                Информация #2
              </a>
            </p>
            <div class="collapse" id="collapseExample1">
              <div class="card-block">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
              </div>
            </div>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>


{% endblock content %}