{% extends 'wowportret/base.html' %}
{% load staticfiles %}
{% block content %}
<div class="container mt white">
<div class="row">
    <h1>{{ gallery.title }}</h1>
    <p>{{ gallery.content|safe }}</p>
        <div>
        {% for item in items %}
        <div class="col-xs-12 col-sm-4 col-md-3"
            <div class="card">
            {% if item.image %}<img class="card-img-top img-full-width" src="{{ item.image.url }}" alt="{{ item.alt }}" />{% endif %}
            <div class="card-block">
                <h4 class="card-title">{{ item.title }}</h4>
                <p class="card-text">{{ item.content|safe }}</p>
                {% if item.url %}<a href="{{ item.url }}" class="btn btn-primary">Купить</a>{% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
        </div>
</div>
</div>

{% endblock content %}