{% extends 'wowportret/base.html' %}
{% load staticfiles %}
{% block content %}
        <!-- Full Width Image Header with Logo -->
    <!-- Image backgrounds are set within the full-width-pics.css file. -->
<!--     <header class="image-bg-fluid-height">
        <img class="img-responsive img-center" src="{% static 'img/bg/1bg.jpg' %}" alt="">
    </header> -->

    <!-- Fixed Height Image Aside -->
    <!-- Image backgrounds are set within the full-width-pics.css file. -->
    <!-- <aside class="image-bg-fixed-height"></aside> -->

        <div class="container white">
        <div class="row">
            <div class="header" style="background: url({% static 'img/content/main/2bg.jpg' %}) no-repeat; min-height: 600px">
                    <div class="col-xs-12 col-sm-6 col-sm-offset-6">
                        <h1 class="main"><span class="blue">Лучший подарок, на любой <br /> праздник - Картина!</span> </h1>
                    </div>

            </div>
        <!-- set as background -->
        <!-- add title + span -->
        <!-- <aside class="image-bg-fixed-height"></aside> -->
            <!-- <div class="col-xs-12 text-xs-right">
                <h1><span class="blue">Лучший подарок, на любой <br /> праздник - Картина!</span> </h1>
            </div> -->
            <!-- <img class="img-responsive img-full-width" src="{% static 'img/content/main/1bg.jpg' %}" alt=""> -->
        </div>
        <div class="row mt">
            <div class="col-xs-12 text-xs-center">
                <h2 class="h-holst"> <strong> В каких случая стоит дарить <br /> портрет на холсте: </strong> </h2>
            </div>
        </div>
        <div class="row text-xs-center">
            <div class="col-xs-12 col-md-4 text-xs-center">
                <p class="circle red"></p>
                <h3>Задумываетесь сделать оригинальный подарок</h3>
            </div>
            <div class="col-xs-12 col-md-4 text-xs-center">
                <p class="circle yellow"></p>
                <h3>Желаете удивить своим подарком</h3>
            </div>
            <div class="col-xs-12 col-md-4 text-xs-center">
                <p class="circle blue"></p>
                <h3>Хотите преподнести индивидуальный подарок</h3>
            </div>
        </div>
        <div class="row mt">
            <div class="col-xs-12 text-xs-center">
                <h2><span class="yellow">Вариатны потретров</span></h2>
            </div>
        </div>
        <div class="gal-bg">
        <div class="row">
        <!-- add BG1.jpg -->
            <div class="col-xs-12 col-sm-6 text-xs-center">
                <img class="img-responsive img-gal" src="{% static 'img/content/main/art1.jpg' %}" alt="">
                <a class="a-glr" href="#">Поп Арт</a>
            </div>
            <div class="col-xs-12 col-sm-6 text-xs-center">
                <img class="img-responsive img-gal" src="{% static 'img/content/main/art2.jpg' %}" alt="">
                <a class="a-glr" href="#">Портрет в образе</a>
            </div>
        </div>

        <div class="row">
        <!-- add BG2.jpg -->
            <div class="col-xs-12 col-sm-6 text-xs-center">
                <img class="img-responsive img-gal" src="{% static 'img/content/main/art3.jpg' %}" alt="">
                <a class="a-glr" href="#">Классический портрет</a>
            </div>
            <div class="col-xs-12 col-sm-6 text-xs-center">
                <img class="img-responsive img-gal" src="{% static 'img/content/main/art4.jpg' %}" alt="">
                <a class="a-glr" href="#">Арт обработка</a>
            </div>
        </div>
        <div>

        <div class="row mt">
            <div class="col-xs-12 text-xs-center">
                <h2><span class="yellow">Варианты исполнения картин</span></h2>
            </div>
        </div>

        <div class="row">
        <!-- add BG2.jpg -->
            <div class="col-xs-12 col-sm-4 text-xs-center">
                <img class="img-responsive img-gal" src="{% static 'img/content/main/art5.jpg' %}" alt="">
                <a class="a-glr" href="#">Фото на холсте</a>
            </div>
            <div class="col-xs-12 col-sm-4 text-xs-center">
                <img class="img-responsive img-gal" src="{% static 'img/content/main/art6.jpg' %}" alt="">
                <a class="a-glr" href="#">Имитация масла</a>
            </div>

            <div class="col-xs-12 col-sm-4 text-xs-center">
                <img class="img-responsive img-gal" src="{% static 'img/content/main/art7.jpg' %}" alt="">
                <a class="a-glr" href="#">Пропись маслом</a>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 text-xs-center">
                <p class="text-back">
                <!-- add yellow -->
                    Как мы это делаем
                    <div class="how-to"></div>
                    <!-- <img class="img-responsive img-center" src="{% static 'img/content/main/bg2.jpg' %}" alt=""> -->
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-xs-center">
                <p class="text-back">
                <!-- add yellow -->
                    Размеры и цены
                    <div class="price"></div>
                    <!-- <img class="img-responsive img-center" src="{% static 'img/content/main/art8.jpg' %}" alt=""> -->
                </p>
            </div>
        </div>
        </div>
{% endblock content %}