{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Document</title>

        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

        <!-- Custom CSS -->
        <link href="{% static 'css/full-width-pics.css' %}" rel="stylesheet">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>
    <body>
        <!-- Full Width Image Header with Logo -->
    <!-- Image backgrounds are set within the full-width-pics.css file. -->
<!--     <header class="image-bg-fluid-height">
        <img class="img-responsive img-center" src="{% static 'img/bg/1bg.jpg' %}" alt="">
    </header> -->

    <!-- Fixed Height Image Aside -->
    <!-- Image backgrounds are set within the full-width-pics.css file. -->
    <!-- <aside class="image-bg-fixed-height"></aside> -->

        <div class="container white">
        <div class="row">
        <!-- set as background -->
        <!-- add title + span -->
        <!-- <aside class="image-bg-fixed-height"></aside> -->
            <div class="col-xs-12 col-xs-offset-6">
                <h1><span class="orange">Пропись маслом <br /> на холсте</span> </h1>
            </div>
            <img class="img-responsive img-full-width" src="{% static 'img/content/maslo/1bg.jpg' %}" alt="">
        </div>
        <div class="row">
            <div class="col-xs-6">
                <h2> Пропись маслом,техника <br /> «Жекле» </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6 text-xs-center">
                <p class="text-back">
            При помощи современных технологий,добиться портретного сходства, стало гораздо легче. <br />
Теперь Вы не будет разочарованы,получая готовый портрет по фотографии на заказ. <br />
Техника «Жекле»- пропись маслянной карской, выполняется по предварительно согласованному с Вам макету. <br />
После чего переносится на холст в виде эскиза,который в дальнейшем художник в ручную прописывает маслянными красками. <br />
Такой процесс не требует долгого позирования и мучительных ожиданий получения готовой картины. <br />

            </p>
            </div>
            <div class="col-xs-6 col-md-6 col-lg-6 hidden-sm-down">
                <img class="img-responsive img-full-width" src="{% static 'img/content/maslo/grandpa.jpg' %}" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-md-6 col-lg-6 hidden-sm-down">
                <img class="img-responsive img-full-width" src="{% static 'img/content/maslo/grandpa1.jpg' %}" alt="">
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 text-xs-center">
                <p class="text-back">
                Стандартные сроки выполнения портрета в технике «Жекле» от 2 до 4 дней, в зависимоти от сложности фона и колличества деталей на картине. <br />

Если праздник совсем скоро, Вы можете воспользоваться услугой экспресс заказа и получить готовый портрет всего за 24 часа! <br />

Портрет в технике «Жекле» может быть исполнен по фотографии предоставляемой заказчиком, в первозданном виде,без применения цифровых преобразований. Так же в таких стилях как: классический портрет или портрет в образе. <br />

Стоимость макета в цифровом виде, оплачивается отдельно, за одну персону, составляет 800р <br />

Такой портрет,может стать идеальным подарком на юбилей. <br />

            </p>
            </div>

        </div>
<!--         <div class="row mt">
            <div class="col-xs-12">
                <p class="text-xs-center">Еще одно из востребованных стилей </br>
                                                                    является - "цифровой портрет"   </br>
                                                                    Художник-дизайнер, по Вашей фотографии рисует портерт на компьюетере при </br>
                                                                    <button>Заказать</button> </p>
            </div>
        </div> -->
        <div class="row mt">
            <div class="col-xs-12 text-xs-center">
                <p class="text-back"> Пример подарка на годовщину свадьбы. <br />
Парный портрет в технике «Жекле» </p>
                <img class="img-responsive img-center" src="{% static 'img/content/maslo/art1.jpg' %}" alt="">
                <p style="font-size: small;"> *стоимость готовой картины в технике пропись маслом с учетом выбранного образа на 2 персоны  размером 40х60 + багетная рама категории А, состпвит - 7 830р. </p>
                <button type="button" class="btn btn-want">Хочу также</button>
            </div>
        </div>

        <div class="row mt">
            <div class="col-xs-12 text-xs-center">
                <p class="text-back"> Пример подарка на Юбилей мужчине.
Мужской образ в технике «Жекле» </p>
                <img class="img-responsive img-center" src="{% static 'img/content/maslo/art2.jpg' %}" alt="">
                <p style="font-size: small;"> *стоимость готовой картины в технике пропись маслом с учетом выбранного образа на 1 персону размером 50х70 + багетная рама категории А, составит - 11 670р.</p>
                <button type="button" class="btn btn-want">Хочу также</button>
            </div>
        </div>
        <div class="row mt">
            <div class="col-xs-12 text-xs-center">
                <p class="text-back"> Пример подарка на Свадьбу.
Парный образ в технике «Жекле» </p>
                <img class="img-responsive img-center" src="{% static 'img/content/maslo/art3.jpg' %}" alt="">
                <p style="font-size: small;"> *стоимость готовой картины в технике пропись маслом с учетом выбранного образа на 2 персоны размером 40х60 + багетная рама категории Б, составит - 8 690р.</p>
                <button type="button" class="btn btn-want">Хочу также</button>
            </div>
        </div>
        <div class="row mt">
            <div class="col-xs-12 text-xs-center">
                <p class="text-back"> Пример подарка Маме на День Рождения.
В технике «Жекле» </p>
                <img class="img-responsive img-center" src="{% static 'img/content/maslo/art4.jpg' %}" alt="">
                <p style="font-size: small;"> *стоимость готовой картины в технике пропись маслом с учетом оцветнения чб фотографии 1 персоны размером 40х60 + багетная рама категории Б, составит - 8 390р.</p>
                <button type="button" class="btn btn-want">Хочу также</button>
            </div>
        </div>
        <div class="row mt">
            <div class="col-xs-12 text-xs-center">
                <p class="text-back"> Пример подарка Женщине на Юбилей.
В технике «Жекле» </p>
                <img class="img-responsive img-center" src="{% static 'img/content/maslo/art5.jpg' %}" alt="">
                <p style="font-size: small;"> *стоимость готовой картины в технике пропись маслом с учетом замены фона на фотографии 1 персоны размером 50х70 + багетная рама категории А, составит - 11 310р.</p>
                <button type="button" class="btn btn-want">Хочу также</button>
            </div>
        </div>
        <div class="row mt">
            <div class="col-xs-12 text-xs-center">
                <p class="text-back"> Пример коллективного подарка.
В технике «Жекле» </p>
                <img class="img-responsive img-center" src="{% static 'img/content/maslo/art6.jpg' %}" alt="">
                <button type="button" class="btn btn-want">Хочу также</button>
            </div>
        </div>
        <div class="row mt">
            <div class="col-xs-12 text-xs-center">
                <p class="text-back"> Пример коллективного подарка Начальнику.
В технике «Жекле» </p>
                <img class="img-responsive img-center" src="{% static 'img/content/maslo/art7.jpg' %}" alt="">
                <p style="font-size: small;"> *стоимость готовой картины в технике пропись маслом с учетом образа 1 персоны размером 75х105 + багетная рама категории С, составит - 27 390р.</p>
                <button type="button" class="btn btn-want">Хочу также</button>
            </div>
        </div>
        <div class="row mt">
            <div class="col-xs-12 text-xs-center">
                <p class="text-back"> Еще примеры: </p>
                <img class="img-responsive img-center" src="{% static 'img/content/maslo/art8.jpg' %}" alt="">
                <button type="button" class="btn btn-want">Хочу также</button>
            </div>
        </div>
        <div class="row mt">
            <div class="col-xs-12 text-xs-center">
                <p class="text-back"> Таблица с ценами </p>
                <img class="img-responsive img-center" src="{% static 'img/content/maslo/art9.jpg' %}" alt="">


            </div>
        </div>
        <div class="row mt">
            <div class="col-xs-12 text-xs-center">
                                <p class="text-back"> Пропись маслом,
Эффект картины музейного качества. </p>
            </div>
            <div class="col-xs-6 text-xs-center">
                <img class="img-responsive img-center" src="{% static 'img/content/maslo/art10.jpg' %}" alt="">
            </div>
            <div class="col-xs-6">
            <p class="text-back">
                Данный портрет выполнен в технике - пропись маслом,с детализацией.
Срок выполнения такого портрета увеличивается на 1-2 дня,в зависимости от сложности фона и колличества лиц на картине.
            </p>
            <p class="text-back">
                Стандартные сроки выполнения 4-6 дней.
Возможен срочный заказ,от 3х дней.
            </p>
            <p class="text-back">
                Стоимость цифрового макета,оплачивается отдельно, за 1 персону составит 800р

            </p>
            </div>
        </div>
        </div>


        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
    </body>
</html>