{% extends 'wowportret/base.html' %}
{% load staticfiles %}
{% block content %}


        <div class="container-fluid background-maslo">
        <div class="container mt">
        <div class="row">
            <!-- <div class="header-maslo" style="background: url({% static 'img/content/maslo/bg.jpg' %}) repeat;"> -->
            <div class="header-maslo">
                <div class="col-md-2 hidden-sm-down">
                    <img class="sakura" src="{% static 'img/content/maslo/sakura.png' %}" alt="">
                    <img class="pen" src="{% static 'img/content/maslo/pen.png' %}" alt="">
                    <!-- <img class="foto-maslo" src="{% static 'img/content/maslo/photo.png' %}" alt=""> -->
                </div>

                <div class="col-sm-12 col-md-offset-5 col-md-7 text-xs-center mt">
                    <!-- <div class="col-xs-12 col-md-8 col-lg-6 col-lg-offset-6 col-md-offset-4"> -->
                        <h1><span class="red">Пропись маслом  на холсте</span> </h1>
                    <!-- </div> -->
                    <!-- <div class="col-xs-12 col-md-7 col-lg-6"> -->
                        <!-- <h2 style="margin-top: 650px; text-align: center;"> <strong> Пропись маслом,техника <br /> «Жекле» </strong> </h2> -->
                    <!-- </div> -->
                </div>

                <div class="col-md-offset-1 col-md-10 hidden-sm-down">
                    <img class="img-classic" src="{% static 'img/content/maslo/port.png' %}" alt="">
                </div>


            </div>
        </div>
        </div>
        </div>
        <div class="container white add-shdw">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6 text-xs-center hidden-sm-down">
                <p class="text-back">
            При помощи современных <br /> технологий,добиться портретного сходства, <br /> стало гораздо легче. <br />
<span class="yellow">Теперь Вы не будет разочарованы</span>, получая <br /> готовый портрет по фотографии на заказ. <br />
Техника «Жекле»- пропись маслянной  <br /> карской, выполняется по предварительно <br /> согласованному <span class="blue">с Вам макету.  </span><br />
После чего переносится на холст в виде <br /> эскиза,который в дальнейшем художник в <br /> ручную прописывает маслянными красками. <br />
Такой процесс <span class="red">не требует долгого</span> <br /> позирования и мучительных ожиданий <br /> получения готовой картины. <br />

            </p>
            </div>
            <div class="col-xs-12 col-lg-6" style="background: url({% static 'img/content/maslo/grandpa.jpg' %}) no-repeat; min-height: 547px; position: inherit;">
                <!-- <img class="img-responsive img-full-width" src="{% static 'img/content/maslo/grandpa.jpg' %}" alt=""> -->
            </div>
        </div>
        <div class="row mt">
            <div class="col-xs-6 col-md-6 col-lg-6 hidden-md-down" style="background: url({% static 'img/content/maslo/grandpa1.jpg' %}) no-repeat; min-height: 825px">
                <!-- <img class="img-responsive img-full-width" src="{% static 'img/content/maslo/grandpa1.jpg' %}" alt=""> -->
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6 text-xs-center">
                <p class="text-back mt">
                Стандартные сроки выполнения портрета в <br /> технике <span class="yellow"> «Жекле» от 2 до 4 дней </span>, в <br /> зависимоти от сложности фона и <br /> колличества деталей на картине. <br />
                <br />
Если праздник совсем скоро, Вы можете <br /> воспользоваться услугой <span class="blue">экспресс заказа</span>и <br /> получить готовый портрет всего за 24 часа! <br />
<br />
Портрет в технике «Жекле» может быть <br /> <span class="red">исполнен по фотографии</span> предоставляемой <br /> заказчиком, в первозданном виде,без <br /> применения цифровых преобразований. Так <br /> же в таких стилях как: классический портрет <br /> или портрет в образе. <br />
<br />
Стоимость макета в цифровом виде, <br /> оплачивается отдельно, за одну персону, <br /> <span class="blue">составляет 800р</span><br />
<br />
Такой портрет,может стать идеальным <br /> <span class="yellow">подарком на юбилей. </span><br />

            </p>
            </div>

        </div>

        <div class="row mt">
            <div class="col-md-offset-1 col-md-10 col-xs-12 text-xs-center mt">
                <p class="text-back"> <strong>Пример подарка на годовщину свадьбы.  <br />
                Парный портрет в технике «Жекле» </strong></p>
                <img class="img-responsive img-center-test hvr-glow" src="{% static 'img/content/maslo/art1.jpg' %}" alt="">
                <p style="font-size: small;"> *стоимость готовой картины в технике пропись маслом с учетом выбранного образа на 2 персоны  размером 40х60 + багетная рама категории А, состпвит - 7 830р. </p>
                <button type="button" class="btn btn-want hvr-bounce-to-right">Хочу также</button>
            </div>
        </div>

        <div class="row mt">
            <div class="col-md-offset-1 col-md-10 col-xs-12 text-xs-center mt">
                <p class="text-back"> <strong> Пример подарка на Юбилей мужчине.
Мужской образ в технике «Жекле» </strong></p>
                <img class="img-responsive img-center-test hvr-glow" src="{% static 'img/content/maslo/art2.jpg' %}" alt="">
                <p style="font-size: small;"> *стоимость готовой картины в технике пропись маслом с учетом выбранного образа на 1 персону размером 50х70 + багетная рама категории А, составит - 11 670р.</p>
                <button type="button" class="btn btn-want hvr-bounce-to-right">Хочу также</button>
            </div>
        </div>
        <div class="row mt">
            <div class="col-md-offset-1 col-md-10 col-xs-12 text-xs-center mt">
                <p class="text-back"> <strong> Пример подарка на Свадьбу.
Парный образ в технике «Жекле» </strong></p>
                <img class="img-responsive img-center-test hvr-glow" src="{% static 'img/content/maslo/art3.jpg' %}" alt="">
                <p style="font-size: small;"> *стоимость готовой картины в технике пропись маслом с учетом выбранного образа на 2 персоны размером 40х60 + багетная рама категории Б, составит - 8 690р.</p>
                <button type="button" class="btn btn-want hvr-bounce-to-right">Хочу также</button>
            </div>
        </div>
        <div class="row mt">
            <div class="col-md-offset-1 col-md-10 col-xs-12 text-xs-center mt">
                <p class="text-back"> <strong> Пример подарка Маме на День Рождения.
В технике «Жекле» </strong></p>
                <img class="img-responsive img-center-test hvr-glow" src="{% static 'img/content/maslo/art4.jpg' %}" alt="">
                <p style="font-size: small;"> *стоимость готовой картины в технике пропись маслом с учетом оцветнения чб фотографии 1 персоны размером 40х60 + багетная рама категории Б, составит - 8 390р.</p>
                <button type="button" class="btn btn-want hvr-bounce-to-right">Хочу также</button>
            </div>
        </div>
        <div class="row mt">
            <div class="col-md-offset-1 col-md-10 col-xs-12 text-xs-center mt">
                <p class="text-back"> <strong> Пример подарка Женщине на Юбилей.
В технике «Жекле» </strong></p>
                <img class="img-responsive img-center-test hvr-glow" src="{% static 'img/content/maslo/art5.jpg' %}" alt="">
                <p style="font-size: small;"> *стоимость готовой картины в технике пропись маслом с учетом замены фона на фотографии 1 персоны размером 50х70 + багетная рама категории А, составит - 11 310р.</p>
                <button type="button" class="btn btn-want hvr-bounce-to-right">Хочу также</button>
            </div>
        </div>
        <div class="row mt">
            <div class="col-md-offset-1 col-md-10 col-xs-12 text-xs-center mt">
                <p class="text-back"> <strong> Пример коллективного подарка.
В технике «Жекле» </strong></p>
                <img class="img-responsive img-center-test" src="{% static 'img/content/maslo/art6.jpg' %}" alt="">
                <button type="button" class="btn btn-want hvr-bounce-to-right">Хочу также</button>
            </div>
        </div>
        <div class="row mt">
            <div class="col-md-offset-1 col-md-10 col-xs-12 text-xs-center mt">
                <p class="text-back"> <strong> Пример коллективного подарка Начальнику.
В технике «Жекле» </strong></p>
                <img class="img-responsive img-center-test" src="{% static 'img/content/maslo/art7.jpg' %}" alt="">
                <p style="font-size: small;"> *стоимость готовой картины в технике пропись маслом с учетом образа 1 персоны размером 75х105 + багетная рама категории С, составит - 27 390р.</p>
                <button type="button" class="btn btn-want hvr-bounce-to-right">Хочу также</button>
            </div>
        </div>
        <div class="row mt">
            <div class="col-md-offset-1 col-md-10 col-xs-12 text-xs-center mt">
                <p class="text-back"> <strong> <span class="yellow"> Еще примеры: </span> </strong>  </p>
                <img class="img-responsive img-center-test hvr-glow" src="{% static 'img/content/maslo/art8.jpg' %}" alt="">
                <button type="button" class="btn btn-want hvr-bounce-to-right">Хочу также</button>
            </div>
        </div>
        <div class="row mt">
            <div class="col-md-offset-1 col-md-10 col-xs-12 text-xs-center mt">
                <p class="text-back"> Таблица с ценами </p>
                <img class="img-responsive img-center-test hvr-glow" src="{% static 'img/content/maslo/art9.jpg' %}" alt="">


            </div>
        </div>
<!--         <div class="row mt">
            <div class="col-xs-12 text-xs-center">
                                <p class="text-back"> Пропись маслом,
Эффект картины музейного качества. </p>
            </div>
            <div class="col-xs-6 text-xs-center">
                <img class="img-responsive img-center" src="{% static 'img/content/maslo/art10.jpg' %}" alt="">
            </div>
            <div class="col-xs-6">
            <p class="text-back">
                Данный портрет выполнен в технике - пропись маслом,с детализацией.
Срок выполнения такого портрета увеличивается на 1-2 дня,в зависимости от сложности фона и колличества лиц на картине.
            </p>
            <p class="text-back">
                Стандартные сроки выполнения 4-6 дней.
Возможен срочный заказ,от 3х дней.
            </p>
            <p class="text-back">
                Стоимость цифрового макета,оплачивается отдельно, за 1 персону составит 800р

            </p>
            </div>
        </div> -->
        </div>

{% endblock content %}