{% extends 'wowportret/base.html' %}
{% load staticfiles %}
{% block content %}
        <!-- Full Width Image Header with Logo -->
    <!-- Image backgrounds are set within the full-width-pics.css file. -->
<!--     <header class="image-bg-fluid-height">
        <img class="img-responsive img-full-width" src="{% static 'img/bg/1bg.jpg' %}" alt="">
    </header> -->

    <!-- Fixed Height Image Aside -->
    <!-- Image backgrounds are set within the full-width-pics.css file. -->
    <!-- <aside class="image-bg-fixed-height"></aside> -->

        <div class="container white">
        <div class="row">
        <div class="header" style="background: url({% static 'img/content/pmaslo/2bg.jpg' %}) no-repeat; min-height: 978px;">
                <div class="col-xs-12 col-sm-6 col-sm-offset-4">
                    <h1 class="art"><span class="red">Имитация маслянной живописи</span> </h1>
                </div>

        </div>
        </div>
        <!-- set as background -->
        <!-- add title + span -->
        <!-- <aside class="image-bg-fixed-height"></aside> -->
<!--             <div class="col-xs-12 col-xs-offset-6">
                <h1><span class="red">Имитация маслянной <br />
живописи</span> </h1>
            </div>
            <img class="img-responsive img-full-width" src="{% static 'img/content/pmaslo/1bg.jpg' %}" alt="">
        </div> -->
<!--         <div class="row">
            <div class="col-xs-12 col-md-6 col-md-offset-6 text-xs-center">
            <p class="text-back">
                <strong> Для придания картине <br />
                дополнительного обьема <br /> </strong>
            </p>
            </div>
        </div> -->
        <div class="row">
            <div class="col-xs-6 col-md-6 col-lg-6 hidden-sm-down text-xs-center">
                <img class="img-responsive img-full-width" src="{% static 'img/content/pmaslo/guy1.jpg' %}" alt="">
                <p class="text-back text-holst mt" style="margin-top: 80px">
                    <span class="blue">Арт гелем, можно покрывать </span> любые <br /> изображения. <br />
                    Как обычные фотографии, без <br /> цифровых преобразований,так и <br /> портреты в классическом стиле или <br />
                    <span class="yellow">в образе.</span>
                </p>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 text-xs-center">
                <p class="text-back text-holst">
                <strong> Для придания картине <br />
                дополнительного обьема <br /> </strong>
                </p>
                <p class="text-back text-holst">
                мы используем текстурный гель, которым  <br />
                художник покрывает полотно,что позволяет <br /> визуально приблизить ее к натурально <br />
                нарисованной. <br /> <br />
                Заказ выполняется <span class="yellow"> от 2х рабочих дней. </span> <br />
                Возможно экспресс <br /> изготовление <span class="red"> за 24 часа! </span>
            </p>
                <img class="img-responsive img-full-width hidden-md-down" style="max-height: 600px; width: auto;" src="{% static 'img/content/pmaslo/guy2.jpg' %}" alt="">
            </div>
        </div>
        <div class="row">
<!--             <div class="col-xs-6 col-md-4 col-lg-4 hidden-sm-down">
                <img class="img-responsive img-full-width" src="{% static 'img/content/pmaslo/guy2.jpg' %}" alt="">
            </div> -->
<!--             <div class="col-sm-12">
                <p class="text-back">
                    Арт гелем, можно покрывать любые изображения. <br />
Как обычные фотографии, без цифровых преобразований,так и портреты в классическом стиле или
в образе.
                </p>
            </div> -->
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-5">
                <img class="img-responsive img-gal" src="{% static 'img/content/pmaslo/woman1.jpg' %}" alt="">
            </div>
            <div class="col-xs-12 col-md-7">
                <img class="img-responsive img-gal" src="{% static 'img/content/pmaslo/woman2.jpg' %}" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <img class="img-responsive img-gal" src="{% static 'img/content/pmaslo/art3.jpg' %}" alt="">
            </div>
        </div>
<!--         <div class="row">
            <div class="col-xs-12">
                <img class="img-responsive img-center" src="{% static 'img/content/pmaslo/art4.jpg' %}" alt="">
            </div>
        </div> -->

        </div>
{% endblock content %}