{% extends 'wowportret/base.html' %}
{% load staticfiles %}
{% block content %}
        <!-- Full Width Image Header with Logo -->
    <!-- Image backgrounds are set within the full-width-pics.css file. -->
<!--     <header class="image-bg-fluid-height">
        <img class="img-responsive img-center" src="{% static 'img/bg/1bg.jpg' %}" alt="">
    </header> -->

    <!-- Fixed Height Image Aside -->
    <!-- Image backgrounds are set within the full-width-pics.css file. -->
    <!-- <aside class="image-bg-fixed-height"></aside> -->

        <div class="container-fluid white background-popart">
            <div class="container mt-popart header-popart">
                <div class="row">
                    <div class="col-md-12">
                        <img class="img-under-girl hidden-sm-down" src="{% static 'img/content/popart/img_under_girl.jpg' %}" alt="">

                        <div class="row mt-girl-popart">
                            <div class="col-sm-8 col-md-offset-1 col-md-6 hidden-xs-down">
                                <img class="sm-img-fix img-responsive img-full-width" src="{% static 'img/content/popart/port.jpg' %}" alt="">
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-5 col-lg-5 text-xs-left cloud">
                                <h1> Портрет в <br /> Pop Art стиле</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container white add-shdw">
        <div class="row">
            <div class="col-xs-12 text-xs-center mt">
                <p class="text-back" style="font-size: 31px; ">
                <strong>
                Яркий и динамичный портрет в стиле Pop Art не оставят <br /> равнодушным, как настоящего ценителя <br />
                    искусства, так и человека не относящего себя к числу <br /> знатоков современного самовыражения
                </strong>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-12 col-lg-6 col-lg-offset-4">
                <h3 class="h-holst h-popart"><strong>Примеры исполнения: </strong></h3>
            </div>
        </div>
        <div class="row fst-popart">
            <div class="col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-5">
                <img class="fst-lft-guy hvr-glow" src="{% static 'img/content/popart/art1.jpg' %}" alt="">
            </div>
            <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-5">
                <img class="fst-rgt-guy hvr-glow" src="{% static 'img/content/popart/art2.jpg' %}" alt="">
            </div>
        </div>
        <div class="row snd-popart">
            <div class="col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-5">
                <img class="snd-lft-girl hvr-glow" src="{% static 'img/content/popart/art3.jpg' %}" alt="">
                <img class="what" src="{% static 'img/content/popart/what.png' %}" alt="">
            </div>
            <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-5">
                <img class="snd-rgt-girl hvr-glow" src="{% static 'img/content/popart/art4.jpg' %}" alt="">
            </div>
        </div>
        <div class="row trd-popart">
            <div class="col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-5">
                <img class="trd-lft-guy hvr-glow" src="{% static 'img/content/popart/art5.jpg' %}" alt="">
            </div>
            <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-5">
                <img class="trd-rgt-guy hvr-glow" src="{% static 'img/content/popart/art6.jpg' %}" alt="">
                <img class="star" src="{% static 'img/content/popart/star.png' %}" alt="">
            </div>
        </div>
        <div class="row fth-popart">
            <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-5 col-md-offset-2 col-md-4">
                <img class="fth-lft-girl hvr-glow" src="{% static 'img/content/popart/art7.jpg' %}" alt="">
                <img class="heart" src="{% static 'img/content/popart/heart.jpg' %}" alt="">
            </div>
            <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-5 col-md-5">
                <img class="fth-rgt-girl hvr-glow" src="{% static 'img/content/popart/art8.jpg' %}" alt="">
            </div>
        </div>



        <div class="row">
            <div class="col-xs-12 col-lg-offset-6 col-lg-6 col-xl-6 col-xl-offset-5 text-xs-center">
                <p class="text-back">
                    <strong>
                    Для заказа достаточно, <span class="red">всего 1 фото</span> <br />

                    Зказ выполняется <br />
                    <span class="yellow">от 2 до 4х дней</span><br />
                    <br />
                    Стоимость макета  для 1 персоны <br />
                    <span class="blue">1500р </span><br />
                    Стоимость макета 2 персоны <br />
                    <span class="blue"> 2500р </span> <br />
                    </strong>
                </p>
            </div>
        </div>
        </div>
<!--         <div class="container-fluid white" style="background-color: rgb(80, 150, 255);
                                                    height: 400px;
                                                    border-bottom: 10px solid black;
                                                    border-top: 10px solid #000000;">
        <div class="row">
            <div class="col-xs-12">
                <div style="height: 400px"></div> -->
                <!-- <img class="img-responsive img-gal" src="{% static 'img/content/popart/art9.jpg' %}" alt=""> -->
<!--             </div>
        </div>
        </div> -->
<!--         <div class="container white">
        <div class="row">
            <div class="col-xs-12">
                <img class="img-responsive img-gal" src="{% static 'img/content/popart/art10.jpg' %}" alt="">
            </div>
        </div>
        </div> -->

{% endblock content %}