{% extends 'wowportret/base.html' %}
{% load staticfiles %}
{% block content %}
        <!-- Full Width Image Header with Logo -->
    <!-- Image backgrounds are set within the full-width-pics.css file. -->
<!--     <header class="image-bg-fluid-height">
        <img class="img-responsive img-center" src="{% static 'img/bg/1bg.jpg' %}" alt="">
    </header> -->

    <!-- Fixed Height Image Aside -->
    <!-- Image backgrounds are set within the full-width-pics.css file. -->
    <!-- <aside class="image-bg-fixed-height"></aside> -->

        <div class="container white">
        <div class="row">
        <!-- set as background -->
        <!-- add title + span -->
        <!-- <aside class="image-bg-fixed-height"></aside> -->
            <img class="img-responsive img-full-width" src="{% static 'img/content/popart/1bg.jpg' %}" alt="">
        </div>
        <div class="row">
            <div class="col-xs-12 text-xs-center mt">
                <p class="text-back" style="font-size: 31px; ">
                <strong>
                Яркий и динамичный портрет в стиле Pop Art не оставят <br /> равнодушным, как настоящего ценителя <br />
искусства, так и человека не относящего себя к числу <br /> знатоков современного самовыражения

                </strong>
                </p>
            </div>
        </div>
        <!-- add custom css resize -->
        <div class="row" style="background: url({% static 'img/content/popart/bg1_.jpg' %}) round; min-height: 541px;">
        <div class="row mt">
            <div class="col-xs-11 col-md-6 col-md-offset-4 col-xs-offset-1">
                <h3 class="h-holst"><strong>Примеры исполнения: </strong></h3>
            </div>
        </div>
        <div class="row mt">
        <!-- add BG1.jpg -->
            <div class="col-xs-12 col-md-6 col-lg-6 mt">
                <img class="img-responsive img-gal" src="{% static 'img/content/popart/art1.jpg' %}" alt="">
            </div>
            <div class="col-xs-12 col-md-6 col-lg-6 mt">
                <img class="img-responsive img-gal img-min mt" src="{% static 'img/content/popart/art2.jpg' %}" alt="" style="float: right">
            </div>
        </div>

        </div>

        <div class="row" style="background: url({% static 'img/content/popart/bg2_.jpg' %}) round; ">
        <!-- add BG2.jpg -->
            <div class="col-xs-12 col-md-6 col-lg-6 mt">
                <img class="img-responsive img-gal img-min" src="{% static 'img/content/popart/art3.jpg' %}" alt="">
            </div>
            <div class="col-xs-12 col-md-6 col-lg-6 mt">
                <img class="img-responsive img-gal" src="{% static 'img/content/popart/art4.jpg' %}" style="margin-top:50px;" alt="">
            </div>
        </div>

        <div class="row" style="background: url({% static 'img/content/popart/bg3_.jpg' %}) round;">
        <!-- add BG3.jpg -->
            <div class="col-xs-12 col-md-6">
                <img class="img-responsive img-gal" src="{% static 'img/content/popart/art5.jpg' %}" alt="" style="margin-left: 15px;">
            </div>
            <div class="col-xs-12 col-md-6">
                <img class="img-responsive img-gal img-min" src="{% static 'img/content/popart/art6.jpg' %}" alt="" style="float: right">
            </div>
        </div>

        <div class="row" style="background: url({% static 'img/content/popart/bg4_.jpg' %}) round;">
        <!-- add BG4.jpg -->
            <div class="col-xs-12 col-md-6">
                <img class="img-responsive img-gal img-min" src="{% static 'img/content/popart/art7.jpg' %}" alt="" style="margin-top: 85px;">
            </div>
            <div class="col-xs-12 col-md-6">
                <img class="img-responsive img-gal" src="{% static 'img/content/popart/art8.jpg' %}" alt="" style="margin-left: -15px;">
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-6 col-md-offset-3 text-xs-center">
                <p class="text-back">
                    <strong>
                    Для заказа достаточно, <span class="red">всего 1 фото</span> <br />
                    <br />
                    Зказ выполняется <br />
                    <span class="yellow">от 2 до 4х дней</span><br />
                    <br />
                    Стоимость макета  для 1 персоны <br />
                    <span class="blue">1500р </span><br />
                    Стоимость макета 2 персоны <br />
                    <span class="blue"> 2500р </span> <br />
                    </strong>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <img class="img-responsive img-gal" src="{% static 'img/content/popart/art9.jpg' %}" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <img class="img-responsive img-gal" src="{% static 'img/content/popart/art10.jpg' %}" alt="">
            </div>
        </div>

        </div>

{% endblock content %}