{% extends 'wowportret/base.html' %} {% load staticfiles %} {% block content %}
<div class="container-fluid white background-popart">
    <div class="container mt-popart header-popart">
        <div class="row">
            <div class="col-md-12">
                <img class="lazy img-under-girl hidden-sm-down" data-src="{% static 'img/content/popart/img_under_girl.jpg' %}" alt="">
                <div class="row mt-girl-popart">
                    <div class="col-sm-8 col-md-offset-1 col-md-6 hidden-xs-down">
                        <img class="lazy sm-img-fix img-responsive img-full-width" data-src="{% static 'img/content/popart/port.jpg' %}" alt="">
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-5 col-lg-5 text-xs-left cloud">
                        <h1> Портрет в <br /> Pop Art стиле</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container white add-shdw">
    <div class="row">
        <div class="col-xs-12 text-xs-center mt">
            <p class="text-back" style="font-size: 31px; ">
                <strong>
                Яркий и динамичный портрет в стиле Pop Art не оставят <br /> равнодушным, как настоящего ценителя <br />
                    искусства, так и человека не относящего себя к числу <br /> знатоков современного самовыражения
                </strong>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-6 col-lg-offset-4">
            <h3 class="h-holst h-popart"><strong>Примеры исполнения: </strong></h3>
        </div>
    </div>
    <div class="row fst-popart">
        <div class="col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-5">
            <img class="lazy fst-lft-guy hvr-glow" data-src="{% static 'img/content/popart/art1.jpg' %}" alt="">
        </div>
        <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-5">
            <img class="lazy fst-rgt-guy hvr-glow" data-src="{% static 'img/content/popart/art2.jpg' %}" alt="">
        </div>
    </div>
    <div class="row snd-popart">
        <div class="col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-5">
            <img class="lazy snd-lft-girl hvr-glow" data-src="{% static 'img/content/popart/art3.jpg' %}" alt="">
            <img class="lazy what" data-src="{% static 'img/content/popart/what.png' %}" alt="">
        </div>
        <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-5">
            <img class="lazy snd-rgt-girl hvr-glow" data-src="{% static 'img/content/popart/art4.jpg' %}" alt="">
        </div>
    </div>
    <div class="row trd-popart">
        <div class="col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-5">
            <img class="lazy trd-lft-guy hvr-glow" data-src="{% static 'img/content/popart/art5.jpg' %}" alt="">
        </div>
        <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-5">
            <img class="lazy trd-rgt-guy hvr-glow" data-src="{% static 'img/content/popart/art6.jpg' %}" alt="">
            <img class="lazy star" data-src="{% static 'img/content/popart/star.png' %}" alt="">
        </div>
    </div>
    <div class="row fth-popart">
        <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-5 col-md-offset-2 col-md-4">
            <img class="lazy fth-lft-girl hvr-glow" data-src="{% static 'img/content/popart/art7.jpg' %}" alt="">
            <img class="lazy heart" data-src="{% static 'img/content/popart/heart.jpg' %}" alt="">
        </div>
        <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-5 col-md-5">
            <img class="lazy fth-rgt-girl hvr-glow" data-src="{% static 'img/content/popart/art8.jpg' %}" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-lg-offset-6 col-lg-6 col-xl-6 col-xl-offset-5 text-xs-center">
            <p class="text-back">
                <strong>
                    Для заказа достаточно, <span class="red">всего 1 фото</span> <br />

                    Зказ выполняется <br />
                    <span class="yellow">от 2 до 4х дней</span><br />
                    <br />
                    Стоимость макета  для 1 персоны <br />
                    <span class="blue">1500р </span><br />
                    Стоимость макета 2 персоны <br />
                    <span class="blue"> 2500р </span> <br />
                    </strong>
            </p>
        </div>
    </div>
</div>
{% endblock content %}
