{% extends 'wowportret/base.html' %} {% load staticfiles %} {% block content %}
<div class="container-fluid white mt background-portret">
    <div class="container">
        <div class="header-portret mb">
            <div class="row">
                <div class="col-xs-12 col-md-offset-3 col-md-6">
                    <h1 class="red mt"><span>Портреты на холсте в образе</span> </h1>
                </div>
            </div>
            <div class="row">
                <div class="hidden-sm-down">
                    <div class="col-lg-offset-0 col-lg-5 col-md-offset-2 col-md-8">
                        <img class="ram21 ram-shdw" src="{% static 'img/content/portret/ram21.jpg' %}" alt="">
                    </div>
                    <div class="col-lg-3 hidden-md-down">
                        <img class="ram22" src="{% static 'img/content/portret/ram21.png' %}" alt="">
                    </div>
                    <div class="col-lg-4 hidden-md-down">
                        <img class="ram23 " src="{% static 'img/content/portret/ram22.png' %}" alt="">
                    </div>
                </div>
            </div>
            <div class="row" style=" margin-top: 363px;">
                <div class="hidden-sm-down">
                    <div class="col-lg-2 col-md-3">
                        <img class="ram31 ram-shdw" src="{% static 'img/content/portret/ram31.jpg' %}" alt="">
                    </div>
                    <div class="col-lg-2 hidden-md-down">
                        <img class="ram32 ram-shdw" src="{% static 'img/content/portret/ram32.jpg' %}" alt="">
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <img class="ram33 ram-shdw" src="{% static 'img/content/portret/ram33.jpg' %}" alt="">
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <img class="ram34 ram-shdw" src="{% static 'img/content/portret/ram34.jpg' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container white mt add-shdw">
    <div class="row mt">
        <div class="col-xs-12 text-xs-center">
            <p class="text-back text-holst">
                <strong>
                    Наверняка, удивитесь,узнав,что Вы или Ваши близкие <br /> можете стать Королем или Королевой, графом <br /> или Графиней. А может и средневековым рыцарем <br />
                </strong>
            </p>
            <p class="text-back">
                Нет ничего невозможного , благодаря услуге « Портрет в образе»,
                <br /> перевоплатиться может любой человек!
                <br /> Достаточно направить фотографии нам на эл.ящик!
                <br /> К присланным фотографиям мы подбираем <span class="red">до 6 вариантов образа</span>, после чего
                <br /> высылаем Вам на почту,для выбора наиболее подлодящего. После
                <br /> согласования,мы дорабатываем макет и высылаем его на
                <br /> <span class="blue">утверждение.  </span>
                <br />Готовый макет переносим на холст и натягиваем на деревянный
                <br /> подрамник.Так же картину можно оформить в деревянную раму по Вашему желанию.
                <br />
            </p>
        </div>
    </div>
    <div class="row mt">
        <div class="col-sm-12 col-md-6 col-lg-6 text-xs-center">
            <p class="text-back">
                Для достижения большего сходства с настоящей
                <br /> живописной картиной, мы
                <br /> предлагаем покрыть картину <span class="yellow">текстурным гелем</span>или прописать маслянной
                <br /> краской!
            </p>
            <p class="text-back mt">
                Срок исполнения заказа
                <br /> от <span class="red"> 2 рабочих дней </span> с моменты утверждения заказа
                <br />
            </p>
            <p class="text-back mt">
                Стоимость макета
                <br /> <span class="blue"> за 1 персону <br /> 800р</span>
            </p>
            <p class="text-back">
                Стоимость макета
                <br /> за 2 персоны
                <br /> 1300р
            </p>
            <p class="text-back mt">
                <span class="yellow">Возможен экспрресс заказ за 24 часа</span>
            </p>
            <p class="text-back mt">
                Наши дизайнеры подберут до 9
                <br /> образов индивидуально для Вас
                <button type="button" class="btn btn-want hvr-bounce-to-right" data-toggle="modal" data-target="#myModal7">Выслать фото</button>
            </p>
        </div>
        <div class="col-md-6 col-lg-6 hidden-sm-down">
            <img class="img-responsive img-full-width" src="{% static 'img/content/portret/art1.jpg' %}" alt="">
        </div>
    </div>
    <div class="row mt">
        <div class="col-xs-12 text-xs-center">
            <h2 class="h-holst">Примеры сюжетов и образов: </h2>
        </div>
        <div class=" col-xs-12 col-sm-4 col-md-4 text-xs-center">
            <img class="img-responsive img-gal" src="{% static 'img/content/portret/gal1.jpg' %}" alt="">
            <a class="a-glr" href="/gallery/">Посмотреть</a>
        </div>
        <div class=" col-xs-12 col-sm-4 col-md-4 text-xs-center">
            <img class="img-responsive img-gal" src="{% static 'img/content/portret/gal2.jpg' %}" alt="">
            <a class="a-glr" href="/gallery/">Посмотреть</a>
        </div>
        <div class=" col-xs-12 col-sm-4 col-md-4 text-xs-center">
            <img class="img-responsive img-gal" src="{% static 'img/content/portret/gal3.jpg' %}" alt="">
            <a class="a-glr" href="/gallery/">Посмотреть</a>
        </div>
    </div>
    <div class="row">
        <div class=" col-xs-12 col-sm-4 col-md-4 text-xs-center">
            <img class="img-responsive img-gal" src="{% static 'img/content/portret/gal4.jpg' %}" alt="">
            <a class="a-glr" href="/gallery/">Посмотреть</a>
        </div>
        <div class=" col-xs-12 col-sm-4 col-md-4 text-xs-center">
            <img class="img-responsive img-gal" src="{% static 'img/content/portret/gal5.jpg' %}" alt="">
            <a class="a-glr" href="/gallery/">Посмотреть</a>
        </div>
        <div class=" col-xs-12 col-sm-4 col-md-4 text-xs-center">
            <img class="img-responsive img-gal" src="{% static 'img/content/portret/gal6.jpg' %}" alt="">
            <a class="a-glr" href="/gallery/">Посмотреть</a>
        </div>
    </div>
    <div class="modal fade" id="myModal7" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3" aria-hidden="true">
        <div class="modal-dialog " role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %} {{ form.as_p }}
                        <button class="btn btn-primary btn-lg btn-block hvr-bounce-to-right {% ifequal request.path '/thankyou/'%} hidden-xl-down {% endifequal%}" type="submit">Отправить заявку</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
