{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Document</title>

        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

        <!-- Custom CSS -->
        <link href="{% static 'css/full-width-pics.css' %}" rel="stylesheet">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>
    <body>
        <!-- Full Width Image Header with Logo -->
    <!-- Image backgrounds are set within the full-width-pics.css file. -->
<!--     <header class="image-bg-fluid-height">
        <img class="img-responsive img-center" src="{% static 'img/bg/1bg.jpg' %}" alt="">
    </header> -->

    <!-- Fixed Height Image Aside -->
    <!-- Image backgrounds are set within the full-width-pics.css file. -->
    <!-- <aside class="image-bg-fixed-height"></aside> -->

        <div class="container white">
        <div class="row">
        <!-- set as background -->
        <!-- add title + span -->
        <!-- <aside class="image-bg-fixed-height"></aside> -->
            <div class="col-xs-11 col-xs-offset-1">
                <h1><span class="red">Портреты на холсте <br /> в образе</span> </h1>
            </div>
            <img class="img-responsive img-full-width" src="{% static 'img/content/portret/1bg.jpg' %}" alt="">
        </div>
        <div class="row mt">
            <div class="col-xs-12 text-xs-center">
                <p class="text-back">
                <strong>
                    Наверняка, удивитесь,узнав,что Вы или Ваши юлизкие можете стать Королем или Королевой, графом или Графиней. А может и средневековым рыцарем
                </strong>
                </p>
                <p class="text-back">
                Нет ничего невозможного , благодаря услуге « Портрет в образе», перевоплатиться может любой человек!
Достаточно направить фотографии нам на эл.ящик!
К присланным фотографиям мы подбираем до 6 вариантов образа,после чего высылаем Вам на почту,для выбора наиболее подлодящего. После согласования,мы дорабатываем макет и высылаем его на утверждение.Готовый макет переносим на холст и натягиваем на деревянный подрамник.Так же картину можно оформить в деревянную раму по Вашему желанию.
Для достижения большего сходства с настоящей живописной картиной, мы предлагаем покрыть картину текстурным гелем или прописать маслянной краской!
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6 text-xs-center">
                <p class="text-back">
                Срок исполнения заказа
 от 2 рабочих дней с моменты утверждения заказа
            </p>
            <p class="text-back">
                Стоимость макета за 1 персону <br /> 800р
            </p>
            <p class="text-back">
                Стоимость макета за 2 персоны <br /> 1300р
            </p>
            <p class="text-back">
                Возможен экспрресс заказ за 24 часа
            </p>
            </div>
            <div class="col-md-6 col-lg-6 hidden-sm-down">
                <img class="img-responsive img-full-width" src="{% static 'img/content/portret/art1.jpg' %}" alt="">
            </div>
        </div>
        <div class="row mt">
            <div class="col-xs-12 text-xs-center">
                <h2>Примеры сюжетов и образов: </h2>
            </div>
            <div class=" col-xs-12 col-sm-4 col-md-4 text-xs-center">
                <img class="img-responsive img-gal" src="{% static 'img/content/portret/gal1.jpg' %}" alt="">
                <a class="a-glr" href="#">Посмотреть</a>
            </div>
            <div class=" col-xs-12 col-sm-4 col-md-4 text-xs-center">
                <img class="img-responsive img-gal" src="{% static 'img/content/portret/gal2.jpg' %}" alt="">
                <a class="a-glr" href="#">Посмотреть</a>
            </div>
            <div class=" col-xs-12 col-sm-4 col-md-4 text-xs-center">
                <img class="img-responsive img-gal" src="{% static 'img/content/portret/gal3.jpg' %}" alt="">
                <a class="a-glr" href="#">Посмотреть</a>
            </div>
        </div>
        <div class="row">
            <div class=" col-xs-12 col-sm-4 col-md-4 text-xs-center">
                <img class="img-responsive img-gal" src="{% static 'img/content/portret/gal4.jpg' %}" alt="">
                <a class="a-glr" href="#">Посмотреть</a>
            </div>
            <div class=" col-xs-12 col-sm-4 col-md-4 text-xs-center">
                <img class="img-responsive img-gal" src="{% static 'img/content/portret/gal5.jpg' %}" alt="">
                <a class="a-glr" href="#">Посмотреть</a>
            </div>
            <div class=" col-xs-12 col-sm-4 col-md-4 text-xs-center">
                <img class="img-responsive img-gal" src="{% static 'img/content/portret/gal6.jpg' %}" alt="">
                <a class="a-glr" href="#">Посмотреть</a>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <img class="img-responsive img-gal" src="{% static 'img/content/portret/art2.jpg' %}" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <img class="img-responsive img-gal" src="{% static 'img/content/portret/art3.jpg' %}" alt="">
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 text-xs-center">
                <h3>Заявка</h3>
                <div style="background-color: orange; min-height: 450px; width: 70%; margin-left: 15%;"></div>
            </div>
        </div>

        </div>


        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
    </body>
</html>