{% extends 'wowportret/base.html' %}
{% load staticfiles %}
{% block content %}
        <!-- Full Width Image Header with Logo -->
    <!-- Image backgrounds are set within the full-width-pics.css file. -->
<!--     <header class="image-bg-fluid-height">
        <img class="img-responsive img-center" src="{% static 'img/bg/1bg.jpg' %}" alt="">
    </header> -->

    <!-- Fixed Height Image Aside -->
    <!-- Image backgrounds are set within the full-width-pics.css file. -->
    <!-- <aside class="image-bg-fixed-height"></aside> -->

        <div class="container-fluid white">

        <div class="row">
        <div class="header" style="background: url({% static 'img/content/portret/test.jpg' %}) repeat">
                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3 col-xl-4 col-xl-offset-3">
                        <h1 class="h-port mb"><span>Портреты на холсте в образе</span> </h1>
                    </div>
                    <div class="col-xl-4 hidden-lg-down">
                        <img class="img-responsive img-full-width" src="{% static 'img/content/portret/ram2.png' %}" alt="">
                    </div>
                </div>

                <div class="hidden-sm-down">
                    <div class="col-xl-2 col-xl-offset-1 mt hidden-lg-down">
                        <img class="img-responsive img-full-width" src="{% static 'img/content/portret/ram4.jpg' %}" alt="">
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-4 text-xs-center">
                        <img class="img-responsive img-full-width" src="{% static 'img/content/portret/ram1.jpg' %}" alt="">
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-4 mt">
                        <img class="img-responsive img-full-width" src="{% static 'img/content/portret/ram3.jpg' %}" alt="">
                    </div>
                </div>

            </div>

        <!-- set as background -->
        <!-- add title + span -->
        <!-- <aside class="image-bg-fixed-height"></aside> -->
<!--             <div class="col-xs-11 col-xs-offset-1">
                <h1><span class="red">Портреты на холсте <br /> в образе</span> </h1>
            </div>
            <img class="img-responsive img-full-width" src="{% static 'img/content/portret/1bg.jpg' %}" alt=""> -->
        </div>
        </div>
        <div class="container white mt">
        <div class="row mt">
            <div class="col-xs-12 text-xs-center">
                <p class="text-back text-holst">
                <strong>
                    Наверняка, удивитесь,узнав,что Вы или Ваши близкие <br /> можете стать Королем или Королевой, графом <br /> или Графиней. А может и средневековым рыцарем <br />
                </strong>
                </p>
                <p class="text-back">
                Нет ничего невозможного , благодаря услуге « Портрет в образе», <br />
                перевоплатиться может любой человек! <br />
Достаточно направить фотографии нам на эл.ящик! <br />
К присланным фотографиям мы подбираем <span class="red">до 6 вариантов образа</span>, после чего <br /> высылаем Вам на почту,для выбора наиболее подлодящего. После <br /> согласования,мы дорабатываем макет и высылаем его на <br /> <span class="blue">утверждение.  </span><br />Готовый макет переносим на холст и натягиваем на деревянный <br />  подрамник.Так же картину можно оформить в деревянную раму по Вашему желанию. <br />
<!-- Для достижения большего сходства с настоящей живописной картиной, мы <br />  предлагаем покрыть картину <span class="yellow">текстурным гелем</span>или прописать маслянной <br />  краской!
 -->                </p>
            </div>
        </div>
        <div class="row mt">
            <div class="col-sm-12 col-md-6 col-lg-6 text-xs-center">
                <p class="text-back">
                    Для достижения большего сходства с настоящей <br /> живописной картиной, мы <br />  предлагаем покрыть картину <span class="yellow">текстурным гелем</span>или прописать маслянной <br />  краской!

                </p>
                <p class="text-back mt">
                Срок исполнения заказа <br />
 от <span class="red"> 2 рабочих дней </span> с моменты утверждения заказа <br />
            </p>
            <p class="text-back mt">
                Стоимость макета <br /> <span class="blue"> за 1 персону <br /> 800р</span>
            </p>
            <p class="text-back">
                Стоимость макета <br /> за 2 персоны <br /> 1300р
            </p>
            <p class="text-back mt">
                <span class="yellow">Возможен экспрресс заказ за 24 часа</span>
            </p>
            </div>
            <div class="col-md-6 col-lg-6 hidden-sm-down">
                <img class="img-responsive img-full-width" src="{% static 'img/content/portret/art1.jpg' %}" alt="">
            </div>
        </div>
        <div class="row mt">
            <div class="col-xs-12 text-xs-center">
                <h2 class="h-holst">Примеры сюжетов и образов: </h2>
            </div>
            <div class=" col-xs-12 col-sm-4 col-md-4 text-xs-center">
                <img class="img-responsive img-gal" src="{% static 'img/content/portret/gal1.jpg' %}" alt="">
                <a class="a-glr" href="#">Посмотреть</a>
            </div>
            <div class=" col-xs-12 col-sm-4 col-md-4 text-xs-center">
                <img class="img-responsive img-gal" src="{% static 'img/content/portret/gal2.jpg' %}" alt="">
                <a class="a-glr" href="#">Посмотреть</a>
            </div>
            <div class=" col-xs-12 col-sm-4 col-md-4 text-xs-center">
                <img class="img-responsive img-gal" src="{% static 'img/content/portret/gal3.jpg' %}" alt="">
                <a class="a-glr" href="#">Посмотреть</a>
            </div>
        </div>
        <div class="row">
            <div class=" col-xs-12 col-sm-4 col-md-4 text-xs-center">
                <img class="img-responsive img-gal" src="{% static 'img/content/portret/gal4.jpg' %}" alt="">
                <a class="a-glr" href="#">Посмотреть</a>
            </div>
            <div class=" col-xs-12 col-sm-4 col-md-4 text-xs-center">
                <img class="img-responsive img-gal" src="{% static 'img/content/portret/gal5.jpg' %}" alt="">
                <a class="a-glr" href="#">Посмотреть</a>
            </div>
            <div class=" col-xs-12 col-sm-4 col-md-4 text-xs-center">
                <img class="img-responsive img-gal" src="{% static 'img/content/portret/gal6.jpg' %}" alt="">
                <a class="a-glr" href="#">Посмотреть</a>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <img class="img-responsive img-gal" src="{% static 'img/content/portret/art2.jpg' %}" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <img class="img-responsive img-gal" src="{% static 'img/content/portret/art3.jpg' %}" alt="">
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 text-xs-center">
                <h3>Заявка</h3>
                <div style="background-color: orange; min-height: 450px; width: 70%; margin-left: 15%;"></div>
            </div>
        </div>

        </div>
{% endblock content %}