{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru">
{% include "wowportret/components/head.html" %}

<body>
    {% include "wowportret/components/header.html" %}
    <!-- Page Content -->
    <div class="container white add-shdw" style="margin-top: 95px">
        <div class="p-y-3 section" draggable="false">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <!-- <p class="lead"><a href="/gallery/">Галерея</a></p> -->
                        {% include "wowportret/components/gallery_menu.html" with all_gals=all_gals %}
                    </div>
                    <div class="col-lg-9">
                        <div class="container">
                            <div class="row">
                                <p style="font-size: 18px;"> Нужен определённый размер или картина?
                                    <br />
                                    <strong>Доверьтесь профессионалам!</strong> Укажите нужный размер, название картины, художника или прикрепите ссылку на изображение в интернете.
                                    <!-- В день обращения мы вышлем Вам варианты картины в интерьере  и расчетаем стоимость -->
                                    <button type="button" style="margin-left: 15px; padding: 3px 25px;" class="btn hvr-bounce-to-right" data-toggle="modal" data-target="#myModal7">Заказать</button>
                                </p>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    {% if item.title %}
                                    <h2>{{ item.title }}</h2> {% else %}
                                    <h2>Работа #{{ item.id }}</h2> {% endif %}
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6 col-md-7">
                                            {% if item.image %}
                                            <a class="fancybox-thumb" rel="fancybox-thumb" href="{{ item.image.url }}"><img class="card-img-top" src="{{ item.image.url_415x415 }}" alt="{{ item.alt }}" /></a>
                                            {% endif %}
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-5">
                                            <form class="calx_form" id="form{{item.id}}">
                                                <div class="form-group">
                                                    <label>Предварительный расчет стоимости: </label>
                                                </div>
                                                <div class="form-group">
                                                    <label for="height">Высота багета, см</label>
                                                    <input type="text" class="form-control mycal height" value="0">
                                                </div>
                                                <div class="form-group">
                                                    <label for="width">Ширина багета, см</label>
                                                    <input type="text" class="form-control mycal width" value="0">
                                                </div>
                                                <div class="form-group" style="display: none;">
                                                    <label for="width">Стоимость за 1 кв.м.: </label>
                                                    <input type="text" class="form-control mycal item_price" value="{{ item.price }}">
                                                </div>
                                                <div class="form-group">
                                                    <label for="total">Итого, руб</label>
                                                    <fieldset disabled>
                                                        <input type="text" class="form-control mycal total" value="0">
                                                    </fieldset>
                                                </div>
                                                <button type="button" class="btn btn-order hvr-bounce-to-right" data-toggle="modal" data-target="#myModal7" onclick="addBagetDataToForm()">Заказать</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="myModal7" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3" aria-hidden="true">
            <div class="modal-dialog " role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <form method="post" enctype="multipart/form-data" id="myForm">
                            {% csrf_token %} {{ form.as_p }}
                            <span id="info" style="text-align: center"></span>
                            <button class="btn btn-primary btn-lg btn-block hvr-bounce-to-right {% ifequal request.path '/thankyou/'%} hidden-xl-down {% endifequal%}" type="submit">Подтвердить</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container white add-shdw mt mb">
        {% include "wowportret/components/price_table.html" %}
        <!-- {% include "wowportret/components/form.html" %} -->
    </div>
    {% include "wowportret/components/footer.html" %}
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {% include "wowportret/components/scipts_init.html" %}
    <script>
    $('.mycal').on('input', function() {
        var total = 0
        var form = $(this).closest("form");
        var values = $(form).find(':input')
        var height = parseFloat($(values[0]).val() / 100);
        var width = parseFloat($(values[1]).val() / 100);
        var item_price = parseFloat($(values[2]).val());
        total = ((2 * width + 2 * height) / 0.8 * item_price).toFixed(2);
        $(values[3]).val(total);
    });
    </script>
    <script>
    function addBagetDataToForm() {
        var name = $('h2').text();
        var values = $('.calx_form').find(':input');
        var height = $(values[0]).val();
        var width = $(values[1]).val();
        var total = $(values[3]).val();
        var size = 0
            // $("#id_contact_item").val(name + ",\nРазмеры: \n" + size + ",\n" + baget + " " + opts + "Цена: " + price);
        $("#info").html("<p class='price'>" + name + "</p>" + "<p class='price'>Высота: " + height + "см, Ширина: " + width + "см</p>" +
            "<p class='price'>Цена: " + total + " руб.</p>");
    };
    </script>
</body>

</html>
